<!-- INCLUDE overall_header.html -->

<form id="confirm" action="{S_CONFIRM_ACTION}" method="post">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{MESSAGE_TITLE}</h3>
		</div>
		<div class="panel-body">
			<p>{MESSAGE_TEXT}</p>
			<fieldset class="submit-buttons">
				{S_HIDDEN_FIELDS}
				<input type="submit" name="cancel" value="{L_NO}" class="btn btn-danger" />
				<input type="submit" name="confirm" value="{L_YES}" class="btn btn-success" />
			</fieldset>
		</div>
	</div>
	{S_FORM_TOKEN}
</form>

<!-- INCLUDE overall_footer.html -->
