
<!-- IF S_VIEWTOPIC -->
<div class="row-fluid">
<div class="span6">
	<div class="span6"><a href="{U_VIEW_FORUM}" class="btn" accesskey="r">{L_RETURN_TO} {FORUM_NAME}</a></div>
</div>
<!-- ELSEIF S_VIEWFORUM -->
<div class="row-fluid">
<div class="span6">
	<div class="span6"><a href="{U_INDEX}" class="btn" accesskey="r">{L_RETURN_TO} {L_INDEX}</a></div>
	</div>
<!-- ELSEIF SEARCH_TOPIC -->
<div class="row-fluid">
<div class="span6">
	<div class="span6"><a class="btn" href="{U_SEARCH_TOPIC}" accesskey="r">{L_RETURN_TO}: {SEARCH_TOPIC}</a></div>
	</div>
<!-- ELSEIF S_SEARCH_ACTION -->
<div class="row-fluid">
<div class="span6">
	<div class="span6"><a class="btn" href="{U_SEARCH}" title="{L_SEARCH_ADV}" accesskey="r">{L_RETURN_TO_SEARCH_ADV}</a></div>
	</div>
	<!-- ELSE -->
	<div class="row-fluid">
<div class="span6">
	<div class="span6"><span class="label">{LAST_VISIT_DATE}</span></div>
	</div>
<!-- ENDIF -->



<!-- IF S_DISPLAY_JUMPBOX -->
<div class="span6">
	<form method="post" id="jumpbox" action="{S_JUMPBOX_ACTION}" onsubmit="if(this.f.value == -1){return false;}" style="margin:0;">

	<!-- IF $CUSTOM_FIELDSET_CLASS -->
		<fieldset class="{$CUSTOM_FIELDSET_CLASS}">
	<!-- ELSE -->
		<fieldset class="jumpbox">
	<!-- ENDIF -->
			<label for="f" accesskey="j"><!-- IF S_IN_MCP and S_MERGE_SELECT -->{L_SELECT_TOPICS_FROM}<!-- ELSEIF S_IN_MCP -->{L_MODERATE_FORUM}<!-- ELSE -->{L_JUMP_TO}<!-- ENDIF -->:</label>
			<select style="margin:0;" name="f" id="f" onchange="if(this.options[this.selectedIndex].value != -1){ document.forms['jumpbox'].submit() }">
			<!-- BEGIN jumpbox_forums -->
				<!-- IF jumpbox_forums.S_FORUM_COUNT == 1 --><option value="-1">------------------</option><!-- ENDIF -->
				<option value="{jumpbox_forums.FORUM_ID}"{jumpbox_forums.SELECTED}><!-- BEGIN level -->&nbsp; &nbsp;<!-- END level -->{jumpbox_forums.FORUM_NAME}</option>
			<!-- END jumpbox_forums -->
			</select>
			<input class="btn" type="submit" value="{L_GO}" />
		</fieldset>
	</form>
</div>
<!-- ELSE -->
	<div class="span6"><span class="label pull-right">{CURRENT_TIME}</span></div>
<!-- ENDIF -->



</div>