<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" action="{U_POST_ACTION}">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{L_WARNED_USERS}</h3>
		</div>
		<div class="panel-body">
			<p>{L_WARNED_USERS_EXPLAIN}</p>
			<!-- IF .user -->
				<div class="text-center">
					<div class="btn-group">
						<!-- IF TOTAL_TOPICS --><span class="btn btn-default btn-sm disabled">{TOTAL_TOPICS}</span><!-- ENDIF -->
						<!-- IF PAGE_NUMBER -->
							<!-- IF PAGINATION -->
								<a href="#" class="btn btn-default" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}"><span>{PAGE_NUMBER}</span></a>
								<span class="btn btn-default btn-sm">{PAGINATION}</span>
							<!-- ELSE -->
								<span class="btn btn-default btn-sm disabled">{PAGE_NUMBER}</span>
							<!-- ENDIF -->
						<!-- ENDIF -->
					</div>
				</div>
				<div class="spacer"></div>
				<fieldset class="display-options well well-sm text-center">
					<label>{L_DISPLAY_POSTS}: {S_SELECT_SORT_DAYS}</label>
					<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label><label>{S_SELECT_SORT_DIR}</label>
					<input type="submit" name="sort" value="{L_GO}" class="btn btn-default" />
				</fieldset>
				<div class="table-responsive">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th class="name">{L_USERNAME}</th>
								<th class="name">{L_WARNINGS}</th>
								<th class="name">{L_LATEST_WARNING_TIME}</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						<!-- BEGIN user -->
							<tr>
								<td>{user.USERNAME_FULL}</td>
								<td>{user.WARNINGS}</td>
								<td>{user.WARNING_TIME}</td>
								<td><a href="{user.U_NOTES}">{L_VIEW_NOTES}</a></td>
							</tr>
						<!-- END user -->
						</tbody>
					</table>
				</div>
			<!-- ELSE -->
				<p><strong>{L_WARNINGS_ZERO_TOTAL}</strong></p>
			<!-- ENDIF -->
			{S_FORM_TOKEN}
		</div>
	</div>
</form>

<!-- INCLUDE mcp_footer.html -->
