<!-- INCLUDE mcp_header.html -->

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{L_WARN_USER}</h3>
	</div>
	<div class="panel-body">
		<form method="post" id="mcp" action="{U_POST_ACTION}">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{L_SELECT_USER}</h3>
				</div>
				<div class="panel-body">
					<fieldset>
						<div class="form-horizontal">
							<div class="form-group">
								<label class="control-label col-md-4" for="username">{L_SELECT_USER}:</label>
								<div class="col-md-8">
									<div class="input-group">
										<input name="username" id="username" type="text" class="form-control" />
										<span class="input-group-btn">
											<a href="{U_FIND_USERNAME}" class="btn btn-default" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a>
										</span>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="panel-footer">
					<fieldset class="submit-buttons">
						<input type="reset" value="{L_RESET}" name="reset" class="btn btn-danger" /> 
						<input type="submit" name="submituser" value="{L_SUBMIT}" class="btn btn-success" />
						{S_FORM_TOKEN}
					</fieldset>
				</div>
			</div>
		</form>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{L_MOST_WARNINGS}</h3>
			</div>
			<div class="panel-body">
				<!-- IF .highest -->
					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th class="name">{L_USERNAME}</th>
									<th class="name">{L_WARNINGS}</th>
									<th class="name">{L_LATEST_WARNING_TIME}</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							<!-- BEGIN highest -->
								<tr>
									<td>{highest.USERNAME_FULL}</td>
									<td>{highest.WARNINGS}</td>
									<td>{highest.WARNING_TIME}</td>
									<td><a href="{highest.U_NOTES}">{L_VIEW_NOTES}</a></td>
								</tr>
							<!-- END latest -->
							</tbody>
						</table>
					</div>
				<!-- ELSE -->
					<p><strong>{L_WARNINGS_ZERO_TOTAL}</strong></p>
				<!-- ENDIF -->
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{L_LATEST_WARNINGS}</h3>
			</div>
			<div class="panel-body">
				<!-- IF .latest -->
					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th class="name">{L_USERNAME}</th>
									<th class="name">{L_TIME}</th>
									<th class="name">{L_TOTAL_WARNINGS}</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							<!-- BEGIN latest -->
								<tr class="<!-- IF latest.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
									<td>{latest.USERNAME_FULL}</td>
									<td>{latest.WARNING_TIME}</td>
									<td>{latest.WARNINGS}</td>
									<td><a href="{latest.U_NOTES}">{L_VIEW_NOTES}</a></td>
								</tr>
							<!-- END latest -->
							</tbody>
						</table>
					</div>
				<!-- ELSE -->
					<p><strong>{L_WARNINGS_ZERO_TOTAL}</strong></p>
				<!-- ENDIF -->
			</div>
		</div>
	</div>
</div>

<!-- INCLUDE mcp_footer.html -->