<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" action="{U_POST_ACTION}">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{L_MCP_WARN_POST}</h3>
		</div>
		<div class="panel-body">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><!-- IF USER_COLOR --><span style="color: #{USER_COLOR}">{USERNAME}</span><!-- ELSE -->{USERNAME}<!-- ENDIF --></h3>
				</div>
				<div class="panel-body">
					<div class="col-md-6">
						<!-- IF AVATAR_IMG --><div>{AVATAR_IMG}</div><!-- ENDIF -->
					</div>

					<div class="col-md-6">
						<dl class="details">
							<!-- IF RANK_TITLE --><dt>{L_RANK}:</dt><dd>{RANK_TITLE}</dd><!-- ENDIF -->
							<!-- IF RANK_IMG --><dt><!-- IF RANK_TITLE -->&nbsp;<!-- ELSE -->{L_RANK}:<!-- ENDIF --></dt><dd>{RANK_IMG}</dd><!-- ENDIF -->
							<dt>{L_JOINED}:</dt><dd>{JOINED}</dd>
							<dt>{L_TOTAL_POSTS}:</dt><dd>{POSTS}</dd>
							<dt>{L_WARNINGS}: </dt><dd>{WARNINGS}</dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{L_POST_DETAILS}</h3>
				</div>
				<div class="panel-body">
					<div class="postbody">
						<div class="content">
							{POST}
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{L_ADD_WARNING}</h3>
				</div>
				<div class="panel-body">
					<p>{L_ADD_WARNING_EXPLAIN}</p>
					<fieldset>
						<textarea name="warning" id="warning" class="form-control" cols="40" rows="3">{L_WARNING_POST_DEFAULT}</textarea>
						<!-- IF S_CAN_NOTIFY -->
							<br />
							<div class="col-md-9 col-md-offset-3">
								<div class="checkbox"><label><input type="checkbox" name="notify_user" checked="checked" /> {L_NOTIFY_USER_WARN}</label></div>
							</div>
						<!-- ENDIF -->
					</fieldset>
				</div>
				<div class="panel-footer">
					<fieldset class="submit-buttons">
						<input type="reset" value="{L_RESET}" name="reset" class="btn btn-danger" />
						<input type="submit" name="action[add_warning]" value="{L_SUBMIT}" class="btn btn-success" />
						{S_FORM_TOKEN}
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</form>

<!-- INCLUDE mcp_footer.html -->
