<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" action="{U_POST_ACTION}">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{L_TITLE}</h3>
		</div>
		<div class="panel-body">
			<fieldset>
				<div class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-md-4" for="username">{L_SELECT_USER}:</label>
						<div class="col-md-8">
							<div class="input-group">
								<input name="username" id="username" type="text" class="form-control" />
								<span class="input-group-btn">
									<a href="{U_FIND_USERNAME}" class="btn btn-default" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="panel-footer">
			<fieldset class="submit-buttons">
				{S_HIDDEN_FIELDS}
				<input type="reset" value="{L_RESET}" name="reset" class="btn btn-danger" /> 
				<input type="submit" name="submituser" value="{L_SUBMIT}" class="btn btn-success" />
			</fieldset>
		</div>
	</div>
	{S_FORM_TOKEN}
</form>

<!-- INCLUDE mcp_footer.html -->
