<!-- INCLUDE mcp_header.html -->

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><!-- IF S_PM -->{L_PM_REPORT_DETAILS}<!-- ELSE -->{L_REPORT_DETAILS}<!-- ENDIF --></h3>
	</div>
	<div class="panel-body">
		<!-- IF S_MCP_REPORT -->
			<div id="report">
				<div class="postbody">
					<h3>{L_REPORT_REASON}: {REPORT_REASON_TITLE}</h3>
					<p class="author">{L_REPORTED} {L_POST_BY_AUTHOR} {REPORTER_FULL} &laquo; {REPORT_DATE}</p>
					<!-- IF S_POST_REPORTED -->
						<p class="rules">{L_REPORT_CLOSED}</p>
					<!-- ENDIF -->
					<div class="content">
						<!-- IF REPORT_TEXT -->
							{REPORT_TEXT}
						<!-- ELSE -->
							{REPORT_REASON_DESCRIPTION}
						<!-- ENDIF -->
					</div>
				</div>
			</div>
			<form method="post" id="mcp_report" action="{S_CLOSE_ACTION}">
				<fieldset class="submit-buttons">
					<!-- IF not S_POST_REPORTED -->
						<input class="btn btn-success" type="submit" value="{L_CLOSE_REPORT}" name="action[close]" />
					<!-- ENDIF -->
					<input class="btn btn-danger" type="submit" value="{L_DELETE_REPORT}" name="action[delete]" />
					<input type="hidden" name="report_id_list[]" value="{REPORT_ID}" />
				</fieldset>
				{S_FORM_TOKEN}
			</form>
		<!-- ENDIF -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title clearfix">
					<!-- IF U_EDIT -->
						<div class="pull-left">
							<i class="fa fa-pencil"></i> <a href="{U_EDIT}" title="{L_EDIT_POST}">{L_EDIT_POST}</a>
						</div>
					<!-- ENDIF -->
					<div class="pull-right">
						<span class="right-box" id="expand"><a href="#post_details" onclick="viewableArea(getElementById('post_details'), true); var rev_text = getElementById('expand').getElementsByTagName('a').item(0).firstChild; if (rev_text.data == '{LA_EXPAND_VIEW}'){rev_text.data = '{LA_COLLAPSE_VIEW}'; } else if (rev_text.data == '{LA_COLLAPSE_VIEW}'){rev_text.data = '{LA_EXPAND_VIEW}'}; return false;">{L_EXPAND_VIEW}</a></span>
					</div>
				</h3>
			</div>
			<div class="panel-body">
				<div class="postbody">
					<h3><a href="{U_VIEW_POST}">{POST_SUBJECT}</a></h3>
					<!-- IF S_PM -->
						<p class="author">
							<strong>{L_SENT_AT}:</strong> {POST_DATE}
							<br /><strong>{L_PM_FROM}:</strong> {POST_AUTHOR_FULL}
							<!-- IF S_TO_RECIPIENT --><br /><strong>{L_TO}:</strong> <!-- BEGIN to_recipient --><!-- IF to_recipient.NAME_FULL -->{to_recipient.NAME_FULL}<!-- ELSE --><a href="{to_recipient.U_VIEW}" style="color:<!-- IF to_recipient.COLOUR -->{to_recipient.COLOUR}<!-- ELSEIF to_recipient.IS_GROUP -->#0000FF<!-- ENDIF -->;">{to_recipient.NAME}</a><!-- ENDIF -->&nbsp;<!-- END to_recipient --><!-- ENDIF -->
							<!-- IF S_BCC_RECIPIENT --><br /><strong>{L_BCC}:</strong> <!-- BEGIN bcc_recipient --><!-- IF bcc_recipient.NAME_FULL -->{bcc_recipient.NAME_FULL}<!-- ELSE --><a href="{bcc_recipient.U_VIEW}" style="color:<!-- IF bcc_recipient.COLOUR -->{bcc_recipient.COLOUR}<!-- ELSEIF bcc_recipient.IS_GROUP -->#0000FF<!-- ENDIF -->;">{bcc_recipient.NAME}</a><!-- ENDIF -->&nbsp;<!-- END bcc_recipient --><!-- ENDIF -->
						</p>
					<!-- ELSE -->
						<p class="author">{MINI_POST_IMG} {L_POSTED} {L_POST_BY_AUTHOR} {POST_AUTHOR_FULL} &raquo; {POST_DATE}</p>
					<!-- ENDIF -->
					<!-- IF S_POST_UNAPPROVED -->
						<form method="post" id="mcp_approve" action="{U_APPROVE_ACTION}">
							<p class="rules">
								<input class="btn btn-danger" type="submit" value="{L_DISAPPROVE}" name="action[disapprove]" />
								<input class="btn btn-success" type="submit" value="{L_APPROVE}" name="action[approve]" />
								<!-- IF not S_FIRST_POST --><input type="hidden" name="mode" value="unapproved_posts" /><!-- ENDIF -->
								<input type="hidden" name="post_id_list[]" value="{POST_ID}" />
							</p>
							{S_FORM_TOKEN}
						</form>
					<!-- ENDIF -->
					<!-- IF S_MESSAGE_REPORTED -->
						<p class="rules">
							{REPORTED_IMG} <a href="{U_MCP_REPORT}"><strong>{L_MESSAGE_REPORTED}</strong></a>
						</p>
					<!-- ENDIF -->
					<hr/>
					<div class="content" id="post_details">
						{POST_PREVIEW}
					</div>
					<!-- IF S_HAS_ATTACHMENTS -->
						<dl class="attachbox">
							<dt>{L_ATTACHMENTS}</dt>
							<!-- BEGIN attachment -->
								<dd>{attachment.DISPLAY_ATTACHMENT}</dd>
							<!-- END attachment -->
						</dl>
					<!-- ENDIF -->
					<!-- IF SIGNATURE -->
						<div id="sig{POST_ID}" class="signature">{SIGNATURE}</div>
					<!-- ENDIF -->
					<!-- IF S_MCP_REPORT and S_CAN_VIEWIP -->
						<hr />
						<div><!-- IF S_PM -->{L_THIS_PM_IP}<!-- ELSE -->{L_THIS_POST_IP}<!-- ENDIF -->: <!-- IF U_WHOIS -->
							<a href="{U_WHOIS}"><!-- IF POST_IPADDR -->{POST_IPADDR}<!-- ELSE -->{POST_IP}<!-- ENDIF --></a> (<!-- IF POST_IPADDR -->{POST_IP}<!-- ELSE --><a href="{U_LOOKUP_IP}">{L_LOOKUP_IP}</a><!-- ENDIF -->)
						<!-- ELSE -->
							<!-- IF POST_IPADDR -->{POST_IPADDR} ({POST_IP})<!-- ELSE -->{POST_IP}<!-- IF U_LOOKUP_IP --> (<a href="{U_LOOKUP_IP}">{L_LOOKUP_IP}</a>)<!-- ENDIF --><!-- ENDIF -->
						<!-- ENDIF --></div>
					<!-- ENDIF -->
				</div>
			</div>
		</div>
		<!-- IF S_CAN_LOCK_POST or S_CAN_DELETE_POST or S_CAN_CHGPOSTER -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{L_MOD_OPTIONS}</h3>
				</div>
				<div class="panel-body">
					<!-- IF S_CAN_CHGPOSTER -->
						<form method="post" id="mcp_chgposter" action="{U_POST_ACTION}">
							<fieldset>
								<div class="form-horizontal">
									<div class="form-group">
										<label class="control-label col-md-4">{L_CHANGE_POSTER}:</label>
										<div class="col-md-8">
											<!-- IF S_USER_SELECT --><dd><select name="u">{S_USER_SELECT}</select> <input type="submit" class="btn btn-default" name="action[chgposter_ip]" value="{L_CONFIRM}" /></dd><!-- ENDIF -->
											<div class="input-group">
												<input class="form-control" type="text" name="username" value="" />
												<span class="input-group-btn">
													<a href="{U_FIND_USERNAME}" class="btn btn-warning" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a>
													<input type="submit" class="btn btn-success" name="action[chgposter]" value="{L_CONFIRM}" />
												</span>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
							{S_FORM_TOKEN}
						</form>
					<!-- ENDIF -->
					<!-- IF S_CAN_LOCK_POST or S_CAN_DELETE_POST -->
						<form method="post" id="mcp" action="{U_MCP_ACTION}">
							<fieldset>
								<div class="form-horizontal">
									<label class="control-label col-md-4">{L_MOD_OPTIONS}:</label>
									<div class="col-md-8">
										<select name="action">
										<!-- IF S_CAN_LOCK_POST --><!-- IF S_POST_LOCKED --><option value="unlock_post">{L_UNLOCK_POST} [{L_UNLOCK_POST_EXPLAIN}]</option><!-- ELSE --><option value="lock_post">{L_LOCK_POST} [{L_LOCK_POST_EXPLAIN}]</option><!-- ENDIF --><!-- ENDIF -->
										<!-- IF S_CAN_DELETE_POST --><option value="delete_post">{L_DELETE_POST}</option><!-- ENDIF -->
										</select>
										<input class="btn btn-success" type="submit" value="{L_SUBMIT}" />
									</div>
								</div>
							</fieldset>
							{S_FORM_TOKEN}
						</form>
					<!-- ENDIF -->
				</div>
			</div>
		<!-- ENDIF -->
		<!-- IF S_MCP_QUEUE or S_MCP_REPORT or RETURN_TOPIC -->
			<div class="row">
				<div class="col-md-12">
					<div class="text-center btn-fix">
						<!-- IF S_MCP_QUEUE -->{RETURN_QUEUE} | {RETURN_TOPIC_SIMPLE} | {RETURN_POST}<!-- ELSEIF S_MCP_REPORT -->{RETURN_REPORTS}<!-- IF not S_PM --> | <a href="{U_VIEW_POST}">{L_VIEW_POST}</a> | <a href="{U_VIEW_TOPIC}">{L_VIEW_TOPIC}</a> | <a href="{U_VIEW_FORUM}">{L_VIEW_FORUM}</a><!-- ENDIF --><!-- ELSE -->{RETURN_TOPIC}<!-- ENDIF -->
					</div>
				</div>
			</div>
		<!-- ENDIF -->
		<!-- IF S_MCP_QUEUE -->
		<!-- ELSE -->
			<!-- IF S_SHOW_USER_NOTES -->
				<div class="panel panel-default" id="usernote">
					<div class="panel-body">
						<form method="post" id="mcp_notes" action="{U_POST_ACTION}">
							<!-- IF S_USER_NOTES -->
								<h3>{L_FEEDBACK}</h3>
								<!-- BEGIN usernotes -->
									<span class="small"><strong>{L_REPORTED_BY}: {usernotes.REPORT_BY} &laquo; {usernotes.REPORT_AT}</strong></span>
									<!-- IF S_CLEAR_ALLOWED --><div class="right-box"><input type="checkbox" name="marknote[]" value="{usernotes.ID}" /></div><!-- ENDIF -->
									<div class="postbody">{usernotes.ACTION}</div>
									<hr class="dashed" />
								<!-- END usernotes -->
								<!-- IF S_CLEAR_ALLOWED -->
									<fieldset class="submit-buttons">
										<input class="btn btn-danger" type="submit" name="action[del_marked]" value="{L_DELETE_MARKED}" />
										<input class="btn btn-danger" type="submit" name="action[del_all]" value="{L_DELETE_ALL}" />
									</fieldset>
								<!-- ENDIF -->
							<!-- ENDIF -->
							<h3>{L_ADD_FEEDBACK}</h3>
							<p>{L_ADD_FEEDBACK_EXPLAIN}</p>
							<fieldset>
								<textarea name="usernote" rows="4" cols="76" class="form-control"></textarea>
							</fieldset>
							<fieldset class="submit-buttons">
								{S_HIDDEN_FIELDS}
								<input class="btn btn-danger" type="reset" value="{L_RESET}" />
								<input class="btn btn-success" type="submit" name="action[add_feedback]" value="{L_SUBMIT}" />
							</fieldset>
							{S_FORM_TOKEN}
						</form>
					</div>
				</div>
			<!-- ENDIF -->
			<!-- IF S_SHOW_REPORTS -->
				<div class="panel panel-default" id="reports">
					<div class="panel-heading">
						<h3 class="panel-title">{L_MCP_POST_REPORTS}</h3>
					</div>
					<div class="panel-body">
						<!-- BEGIN reports -->
							<span class="small"><strong>{L_REPORTED_BY}: <!-- IF reports.U_REPORTER --><a href="{reports.U_REPORTER}">{reports.REPORTER}</a><!-- ELSE -->{reports.REPORTER}<!-- ENDIF --> &laquo; {reports.REPORT_TIME}</strong></span>
							<p><em>{reports.REASON_TITLE}: {reports.REASON_DESC}</em><!-- IF reports.REPORT_TEXT --><br />{reports.REPORT_TEXT}<!-- ENDIF --></p>
						<!-- END reports -->
					</div>
				</div>
			<!-- ENDIF -->
			<!-- IF S_CAN_VIEWIP and not S_MCP_REPORT -->
				<div class="panel panel-default" id="ip">
					<div class="panel-heading">
						<h3 class="panel-title">{L_THIS_POST_IP}: <!-- IF U_WHOIS -->
							<a href="{U_WHOIS}"><!-- IF POST_IPADDR -->{POST_IPADDR}<!-- ELSE -->{POST_IP}<!-- ENDIF --></a> (<!-- IF POST_IPADDR -->{POST_IP}<!-- ELSE --><a href="{U_LOOKUP_IP}">{L_LOOKUP_IP}</a><!-- ENDIF -->)
						<!-- ELSE -->
							<!-- IF POST_IPADDR -->{POST_IPADDR} ({POST_IP})<!-- ELSE -->{POST_IP}<!-- IF U_LOOKUP_IP --> (<a href="{U_LOOKUP_IP}">{L_LOOKUP_IP}</a>)<!-- ENDIF --><!-- ENDIF -->
						<!-- ENDIF --></h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped table-bordered" cellspacing="1">
							<thead>
								<tr>
									<th class="name">{L_OTHER_USERS}</th>
									<th class="posts">{L_POSTS}</th>
								</tr>
							</thead>
							<tbody>
								<!-- BEGIN userrow -->
									<tr class="<!-- IF userrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
										<td><!-- IF userrow.U_PROFILE --><a href="{userrow.U_PROFILE}">{userrow.USERNAME}</a><!-- ELSE -->{userrow.USERNAME}<!-- ENDIF --></td>
										<td class="posts"><a href="{userrow.U_SEARCHPOSTS}" title="{L_SEARCH_POSTS_BY} {userrow.USERNAME}">{userrow.NUM_POSTS}</a></td>
									</tr>
								<!-- BEGINELSE -->
									<tr>
										<td colspan="2">{L_NO_MATCHES_FOUND}</td>
									</tr>
								<!-- END userrow -->
							</tbody>
						</table>
						<table class="table table-striped table-bordered" cellspacing="1">
							<thead>
								<tr>
									<th class="name">{L_IPS_POSTED_FROM}</th>
									<th class="posts">{L_POSTS}</th>
								</tr>
							</thead>
							<tbody>
								<!-- BEGIN iprow -->
								<tr class="<!-- IF iprow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
									<td><!-- IF iprow.HOSTNAME --><a href="{iprow.U_WHOIS}">{iprow.HOSTNAME}</a> ({iprow.IP})<!-- ELSE --><a href="{iprow.U_WHOIS}">{iprow.IP}</a> (<a href="{iprow.U_LOOKUP_IP}">{L_LOOKUP_IP}</a>)<!-- ENDIF --></td>
									<td class="posts">{iprow.NUM_POSTS}</td>
								</tr>
								<!-- BEGINELSE -->
									<tr>
										<td colspan="2">{L_NO_MATCHES_FOUND}</td>
									</tr>
								<!-- END iprow -->
							</tbody>
						</table>
						<p><a href="{U_LOOKUP_ALL}#ip" class="btn btn-primary">{L_LOOKUP_ALL}</a></p>
					</div>
				</div>
			<!-- ENDIF -->
		<!-- ENDIF -->
	</div>
</div>

<!-- IF S_TOPIC_REVIEW --><!-- INCLUDE posting_topic_review.html --><!-- ENDIF -->

<!-- INCLUDE mcp_footer.html -->