<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" action="{U_POST_ACTION}">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{L_TITLE}</h3>
		</div>
		<div class="panel-body">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{USERNAME_FULL}</h3>
				</div>
				<div class="panel-body">
					<div class="col-md-6">
						<!-- IF AVATAR_IMG --><div>{AVATAR_IMG}</div><!-- ENDIF -->
					</div>
					<div class="col-md-6">
						<dl class="details">
							<!-- IF RANK_TITLE --><dt>{L_RANK}:</dt><dd>{RANK_TITLE}</dd><!-- ENDIF -->
							<!-- IF RANK_IMG --><dt><!-- IF RANK_TITLE -->&nbsp;<!-- ELSE -->{L_RANK}:<!-- ENDIF --></dt><dd>{RANK_IMG}</dd><!-- ENDIF -->
							<dt>{L_JOINED}:</dt><dd>{JOINED}</dd>
							<dt>{L_TOTAL_POSTS}:</dt><dd>{POSTS}</dd>
							<dt>{L_WARNINGS}: </dt><dd>{WARNINGS}</dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{L_ADD_FEEDBACK}</h3>
				</div>
				<div class="panel-body">
					<p>{L_ADD_FEEDBACK_EXPLAIN}</p>
					<fieldset>
						<textarea name="usernote" id="usernote" class="form-control" cols="40" rows="3"></textarea>
					</fieldset>
				</div>
				<div class="panel-footer">
					<fieldset class="submit-buttons">
						{S_HIDDEN_FIELDS}
						<input type="reset" value="{L_RESET}" name="reset" class="btn btn-danger" />
						<input type="submit" name="action[add_feedback]" value="{L_SUBMIT}" class="btn btn-success" />
					</fieldset>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-md-4">{L_SEARCH_KEYWORDS}:</label>
							<div class="col-md-8">
							 	<div class="input-group">
									<input type="text" class="form-control" name="keywords" value="{S_KEYWORDS}" />
									<span class="input-group-btn">
										<input type="submit" class="btn btn-default" name="filter" value="{L_SEARCH}" />
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="text-center">
						<div class="btn-group">
							<!-- IF TOTAL_REPORTS --><span class="btn btn-default btn-sm disabled">{TOTAL_REPORTS}</span><!-- ENDIF -->
							<!-- IF PAGE_NUMBER -->
								<!-- IF PAGINATION -->
									<a href="#" class="btn btn-default" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}"><span>{PAGE_NUMBER}</span></a>
									<span class="btn btn-default btn-sm">{PAGINATION}</span>
								<!-- ELSE -->
									<span class="btn btn-default btn-sm disabled">{PAGE_NUMBER}</span>
								<!-- ENDIF -->
							<!-- ENDIF -->
						</div>
					</div>
					<div class="spacer"></div>
					<fieldset class="display-options well well-sm text-center">
						<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
						<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
						<label>{L_DISPLAY_LOG}: {S_SELECT_SORT_DAYS}</label>
						<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label><label>{S_SELECT_SORT_DIR}</label>
						<input type="submit" name="sort" value="{L_GO}" class="btn btn-default" />
					</fieldset>
					<div class="table-responsive">
						<table cellspacing="1" class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>{L_REPORT_BY}</th>
									<th class="text-center">{L_IP}</th>
									<th class="text-center">{L_TIME}</th>
									<th>{L_ACTION_NOTE}</th>
									<!-- IF S_CLEAR_ALLOWED --><th>{L_MARK}</th><!-- ENDIF -->
								</tr>
							</thead>
							<tbody>
								<!-- BEGIN usernotes -->
									<tr>
										<td>{usernotes.REPORT_BY}</td>
										<td class="text-center">{usernotes.IP}</td>
										<td class="text-center">{usernotes.REPORT_AT}</td>
										<td>{usernotes.ACTION}</td>
										<!-- IF S_CLEAR_ALLOWED --><td style="width: 5%; text-align: center;"><input type="checkbox" name="marknote[]" id="note-{usernotes.ID}" value="{usernotes.ID}" /></td><!-- ENDIF -->
									</tr>
								<!-- BEGINELSE -->
									<tr>
										<td colspan="<!-- IF S_CLEAR_ALLOWED -->5<!-- ELSE -->4<!-- ENDIF -->" class="text-center"><span class="gen">{L_NO_ENTRIES}</span></td>
									</tr>
								<!-- END usernames -->
							</tbody>
						</table>
					</div>
					<!-- IF S_CLEAR_ALLOWED -->
						<hr/>
						<fieldset class="display-actions">
							<div class="btn-group">
								<a href="#" class="btn btn-success btn-sm" onclick="marklist('mcp', 'marknote', true); return false;">{L_MARK_ALL}</a>
								<a href="#" class="btn btn-warning btn-sm" onclick="marklist('mcp', 'marknote', false); return false;">{L_UNMARK_ALL}</a>
							</div>
							<div class="btn-group">
								<input class="btn btn-danger btn-sm" type="submit" name="action[del_marked]" value="{L_DELETE_MARKED}" />
								<input class="btn btn-danger btn-sm" type="submit" name="action[del_all]" value="{L_DELETE_ALL}" />
							</div>
						</fieldset>
					<!-- ENDIF -->
				</div>
			</div>
		</div>
	</div>
	{S_FORM_TOKEN}
</form>

<!-- INCLUDE mcp_footer.html -->