<!-- IF S_IN_SEARCH_POPUP -->
<!-- You should retain this javascript in your own template! -->
<script type="text/javascript">
// <![CDATA[
function insert_user(user)
{
	opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value = ( opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value.length && opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.type == "textarea" ) ? opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value + "\n" + user : user;
}

function insert_marked(users)
{
	if (typeof(users.length) == "undefined")
	{
		if (users.checked)
		{
			insert_user(users.value);
		}
	}
	else if (users.length > 0)
	{
		for (i = 0; i < users.length; i++)
		{
			if (users[i].checked)
			{
				insert_user(users[i].value);
			}
		}
	}

	self.close();
}

function insert_single(user)
{
	opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value = user;
	self.close();
}
// ]]>
</script>
<script type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/forum_fn.js"></script>
<!-- ENDIF -->


<form method="post" action="{S_MODE_ACTION}" id="search_memberlist">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{L_FIND_USERNAME}</h3>
		</div>
		<div class="panel-body">
			<p>{L_FIND_USERNAME_EXPLAIN}</p>
			<div class="row">
				<div class="col-md-6">
					<fieldset>
						<div class="form-horizontal">
							<div class="form-group">
								<label class="control-label col-md-3" for="username">{L_USERNAME}:</label>
								<div class="col-md-9">
									<input type="text" name="username" id="username" value="{USERNAME}" class="form-control" />
								</div>
							</div>
							<!-- IF S_EMAIL_SEARCH_ALLOWED -->
								<div class="form-group">
									<label class="control-label col-md-3" for="email">{L_EMAIL}:</label>
									<div class="col-md-9">
										<input type="text" name="email" id="email" value="{EMAIL}" class="form-control" />
									</div>
								</div>
							<!-- ENDIF -->
							<div class="form-group">
								<label class="control-label col-md-3" for="icq">{L_ICQ}:</label>
								<div class="col-md-9">
									<input type="text" name="icq" id="icq" value="{ICQ}" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3" for="aim">{L_AIM}:</label>
								<div class="col-md-9">
									<input type="text" name="aim" id="aim" value="{AIM}" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3" for="yahoo">{L_YIM}:</label>
								<div class="col-md-9">
									<input type="text" name="yahoo" id="yahoo" value="{YAHOO}" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3" for="msn">{L_MSNM}:</label>
								<div class="col-md-9">
									<input type="text" name="msn" id="msn" value="{MSNM}" class="form-control" />
								</div>
							</div>
					</fieldset>
				</div>
				<div class="col-md-6">
					<fieldset>
						<div class="form-horizontal">
							<div class="form-group">
								<label class="control-label col-md-3" for="joined">{L_JOINED}:</label>
								<div class="col-md-9">
									<div class="input-group">
										<div class="input-group-btn">
											<select name="joined_select">{S_JOINED_TIME_OPTIONS}</select>
										</div>
										<input class="form-control medium" type="text" name="joined" id="joined" value="{JOINED}" />
									</div>
								</div>
							</div>
							<!-- IF S_VIEWONLINE -->
								<div class="form-group">
									<label class="control-label col-md-3" for="active">{L_LAST_ACTIVE}:</label>
									<div class="col-md-9">
										<div class="input-group">
											<div class="input-group-btn">
												<select name="active_select">{S_ACTIVE_TIME_OPTIONS}</select>
											</div>
											<input class="form-control medium" type="text" name="active" id="active" value="{ACTIVE}" />
										</div>
									</div>
								</div>
							<!-- ENDIF -->
							<div class="form-group">
								<label class="control-label col-md-3" for="count">{L_POSTS}:</label>
								<div class="col-md-9">
									<div class="input-group">
										<div class="input-group-btn">
											<select name="count_select">{S_COUNT_OPTIONS}</select>
										</div>
										<input class="form-control medium" type="text" name="count" id="count" value="{COUNT}" />
									</div>
								</div>
							</div>
							<!-- IF S_IP_SEARCH_ALLOWED -->
								<div class="form-group">
									<label class="control-label col-md-3" for="ip">{L_POST_IP}:</label>
									<div class="col-md-9">
										<input class="form-control medium" type="text" name="ip" id="ip" value="{IP}" />
									</div>
								</div>
							<!-- ENDIF -->
							<div class="form-group">
								<label class="control-label col-md-3" for="search_group_id">{L_GROUP}:</label>
								<div class="col-md-9">
									<select name="search_group_id" id="search_group_id">{S_GROUP_SELECT}</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3" for="sk" class="label3">{L_SORT_BY}:</label>
								<div class="col-md-9">
									<select name="sk" id="sk">{S_SORT_OPTIONS}</select> <select name="sd">{S_ORDER_SELECT}</select>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<fieldset class="submit-buttons">
				<input type="reset" value="{L_RESET}" name="reset" class="btn btn-danger" />
				<input type="submit" name="submit" value="{L_SEARCH}" class="btn btn-primary" />
				{S_FORM_TOKEN}
			</fieldset>
		</div>
	</div>
</form>