<div class="tab-pane" id="attach-tab">
	<p>{L_ADD_ATTACHMENT_EXPLAIN}</p>
	<fieldset class="form-horizontal">
		<div class="form-group">
			<label for="fileupload" class="col-md-2 control-label">{L_FILENAME}:</label>
			<div class="col-md-5">
				<div class="input-group">
					<input type="file" name="fileupload" id="fileupload" maxlength="{FILESIZE}" value="" class="form-control" /> 
					<span class="input-group-btn">
						<input type="submit" name="add_file" value="{L_ADD_FILE}" class="btn btn-default" onclick="upload = true;" />
					</span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="filecomment" class="col-md-2 control-label">{L_FILE_COMMENT}:</label>
			<div class="col-md-5">
				<textarea name="filecomment" id="filecomment" rows="1" cols="40" class="form-control">{FILE_COMMENT}</textarea></dd>
			</div>
		</div>
	</fieldset>
</div>
