<!-- INCLUDE ucp_header.html -->

<!-- IF S_DRAFT_LOADED -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{L_INFORMATION}</h3>
		</div>
		<div class="panel-body">
			<p>{L_DRAFT_LOADED_PM}</p>
		</div>
	</div>
<!-- ENDIF -->

<!-- IF S_SHOW_DRAFTS --><!-- INCLUDE drafts.html --><!-- ENDIF -->

<!-- IF S_DISPLAY_PREVIEW --><!-- INCLUDE posting_preview.html --><!-- ENDIF -->

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{L_TITLE}</h3>
	</div>
	<div class="panel-body" id="postingbox">
		<!-- DEFINE $EXTRA_POSTING_OPTIONS = 1 -->
		<!-- INCLUDE posting_editor.html -->
		<!-- IF S_SHOW_ATTACH_BOX --><!-- INCLUDE posting_attach_body.html --><!-- ENDIF -->
		<!-- IF S_DISPLAY_REVIEW --><!-- INCLUDE posting_topic_review.html --><!-- ENDIF -->
		<!-- IF S_DISPLAY_HISTORY --><!-- INCLUDE ucp_pm_history.html --><!-- ENDIF -->
	</div>
</div>

<!-- INCLUDE ucp_footer.html -->