<div class="tab-pane" id="poll-tab">
	<!-- IF S_SHOW_POLL_BOX -->
	<p>{L_ADD_POLL_EXPLAIN}</p>
	<!-- ENDIF -->
	<fieldset class="form-horizontal">
	<!-- IF S_SHOW_POLL_BOX -->
		<!-- IF S_POLL_DELETE -->
			<div class="form-group">
				<label for="poll_delete" class="col-md-2 control-label">{L_POLL_DELETE}:</label>
				<div class="col-md-5">
					<label for="poll_delete"><input type="checkbox" name="poll_delete" id="poll_delete"<!-- IF S_POLL_DELETE_CHECKED --> checked="checked"<!-- ENDIF --> /></label>
				</div>
			</div>
		<!-- ENDIF -->
		<div class="form-group">
			<label for="poll_title" class="col-md-2 control-label">{L_POLL_QUESTION}:</label>
			<div class="col-md-5">
				<input type="text" name="poll_title" id="poll_title" maxlength="255" value="{POLL_TITLE}" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label for="poll_option_text" class="col-md-2 control-label">{L_POLL_OPTIONS}:</label>
			<div class="col-md-5">
				<textarea name="poll_option_text" id="poll_option_text" rows="5" cols="35" class="form-control">{POLL_OPTIONS}</textarea>
				<span class="help-block">{L_POLL_OPTIONS_EXPLAIN}</span>
			</div>
		</div>
		<hr class="dashed" />
		<div class="form-group">
			<label for="poll_max_options" class="col-md-2 control-label">{L_POLL_MAX_OPTIONS}:</label>
			<div class="col-md-5">
				<input type="text" name="poll_max_options" id="poll_max_options" size="3" maxlength="3" value="{POLL_MAX_OPTIONS}" class="form-control" />
			</div>
			<div class="clearfix"></div>
			<span class="help-block col-md-12">{L_POLL_MAX_OPTIONS_EXPLAIN}</span>
		</div>
		<div class="form-group">
			<label for="poll_length" class="col-md-2 control-label">{L_POLL_FOR}:</label>
			<div class="col-md-1">
				<input type="text" name="poll_length" id="poll_length" size="3" maxlength="3" value="{POLL_LENGTH}" class="form-control" />
			</div>
			<span class="help-block col-md-9">{L_DAYS}</span>
			<div class="clearfix"></div>
			<span class="help-block col-md-12">{L_POLL_FOR_EXPLAIN}</span>
		</div>

		<!-- IF S_POLL_VOTE_CHANGE -->
			<hr class="dashed" />
			<div class="form-group">
				<label for="poll_vote_change" class="col-md-2 control-label">{L_POLL_VOTE_CHANGE}:</label>
				<div class="col-md-5">
					<div class="checkbox">
						<label for="poll_vote_change"><input type="checkbox" id="poll_vote_change" name="poll_vote_change"{VOTE_CHANGE_CHECKED} /> {L_POLL_VOTE_CHANGE_EXPLAIN}</label>
					</div>
				</div>
			</div>
		<!-- ENDIF -->

		<!-- ELSEIF S_POLL_DELETE -->
			<div class="form-group">
				<label for="poll_delete" class="col-md-2 control-label">{L_POLL_DELETE}:</label>
				<div class="col-md-5">
					<div class="checkbox">
						<label for="poll_delete"><input type="checkbox" name="poll_delete" id="poll_delete"<!-- IF S_POLL_DELETE_CHECKED --> checked="checked"<!-- ENDIF --> /> </label>
					</div>
				</div>
			</div>
		<!-- ENDIF -->
	</fieldset>
</div>
