<form method="post" action="{U_QR_ACTION}">
	<div class="panel panel-default panel-collapsible" id="qr_ns_editor_div">
		<div class="panel-heading">
    		<h3 class="panel-title">{L_QUICKREPLY}</h3>
    		<span class="pull-right panel-right clickable panel-collapsed"><i class="fa fa-chevron-down"></i></span>
    	</div>
    	<div class="panel-body" style="display:none">
			<fieldset>
				<div class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-md-2" for="subject">{L_SUBJECT}:</label>
						<div class="col-md-10">
							<input type="text" name="subject" id="subject-ns" size="45" maxlength="64" tabindex="2" value="{SUBJECT}" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-10 col-md-offset-2">
							<textarea name="message" id="message" rows="7" cols="76" tabindex="3" class="form-control"></textarea>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="panel-footer" style="display:none">
			<fieldset class="submit-buttons">
				{S_FORM_TOKEN}
				{QR_HIDDEN_FIELDS}
				<input type="submit" accesskey="f" tabindex="7" name="full_editor" value="{L_FULL_EDITOR}" class="btn btn-primary" />
				<input type="submit" accesskey="s" tabindex="6" name="post" value="{L_SUBMIT}" class="btn btn-success" />
			</fieldset>
		</div>
	</div>
</form>