<!-- INCLUDE overall_header.html -->

<form method="post" action="{S_REPORT_ACTION}" id="report">
	<div class="panel panel-default">
		<div class="panel-heading">
   			<h3 class="panel-title"><!-- IF S_REPORT_POST -->{L_REPORT_POST}<!-- ELSE -->{L_REPORT_MESSAGE}<!-- ENDIF --></h3>
   		</div>
   		<div class="panel-body">
			<div class="content">
				<p><!-- IF S_REPORT_POST -->{L_REPORT_POST_EXPLAIN}<!-- ELSE -->{L_REPORT_MESSAGE_EXPLAIN}<!-- ENDIF --></p>
				<fieldset>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-md-4" for="reason_id">{L_REASON}:</label>
							<div class="col-md-8">
								<select name="reason_id" id="reason_id" class="full"><!-- BEGIN reason --><option value="{reason.ID}"<!-- IF reason.S_SELECTED --> selected="selected"<!-- ENDIF -->>{reason.DESCRIPTION}</option><!-- END reason --></select>
							</div>
						</div>
						<!-- IF S_CAN_NOTIFY -->
							<div class="form-group">
								<label class="control-label col-md-4" for="notify1">{L_REPORT_NOTIFY}:</label>
								<div class="col-md-8">
									<label for="notify1" class="radio-inline"><input type="radio" name="notify" id="notify1" value="1" <!-- IF not S_NOTIFY -->checked="checked"<!-- ENDIF --> /> {L_YES}</label> 
									<label for="notify0" class="radio-inline"><input type="radio" name="notify" id="notify0" value="0" <!-- IF S_NOTIFY -->checked="checked"<!-- ENDIF --> /> {L_NO}</label>
									<span class="help-block">{L_REPORT_NOTIFY_EXPLAIN}</span>
								</div>
							</div>
						<!-- ENDIF -->
						<div class="form-group">
							<label class="control-label col-md-4" for="report_text">{L_MORE_INFO}:</label>
							<div class="col-md-8">
								<textarea name="report_text" id="report_text" rows="10" cols="76" class="form-control">{REPORT_TEXT}</textarea>
								<span class="help-block">{L_CAN_LEAVE_BLANK}</span>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
		<div class="panel-footer">
			<fieldset class="submit-buttons">
				<input type="submit" name="cancel" class="btn btn-danger" value="{L_CANCEL}" />
				<input type="submit" name="submit" class="btn btn-success" value="{L_SUBMIT}" />
				{S_FORM_TOKEN}
			</fieldset>
		</div>
	</div>
</form>

<!-- INCLUDE overall_footer.html -->
