<!-- IF not S_AVATARS_ENABLED -->
	<p>{L_AVATAR_FEATURES_DISABLED}</p>
<!-- ENDIF -->

<fieldset>
	<div class="form-horizontal">
		<!-- IF ERROR --><p class="alert alert-danger">{ERROR}</p><!-- ENDIF -->
		<div class="form-group">
			<label class="control-label col-md-3">{L_CURRENT_IMAGE}:</label>
			<div class="col-md-9">
				<!-- IF AVATAR -->{AVATAR}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" /><!-- ENDIF -->
				<div class="checkbox"><label for="delete"><input type="checkbox" name="delete" id="delete" /> {L_DELETE_AVATAR}</label></div>
				<span class="help-block">{L_AVATAR_EXPLAIN}</span>
			</div>
		</div>

		<!-- IF S_UPLOAD_AVATAR_FILE -->
			<div class="form-group">
				<label class="control-label col-md-3" for="uploadfile">{L_UPLOAD_AVATAR_FILE}:</label>
				<div class="col-md-9">
					<input type="file" name="uploadfile" id="uploadfile" class="autowidth" />
					<input type="hidden" name="MAX_FILE_SIZE" value="{AVATAR_SIZE}" />
				</div>
			</div>
		<!-- ENDIF -->

		<!-- IF S_UPLOAD_AVATAR_URL -->
			<div class="form-group">
				<label class="control-label col-md-3" for="uploadurl">{L_UPLOAD_AVATAR_URL}:</label>
				<div class="col-md-9">
					<input type="text" name="uploadurl" id="uploadurl" value="{AVATAR_URL}" class="inputbox" />
					<span class="help-block">{L_UPLOAD_AVATAR_URL_EXPLAIN}</span>
				</div>
			</div>
		<!-- ENDIF -->

		<!-- IF S_LINK_AVATAR -->
			<div class="form-group">
				<label class="control-label col-md-3" for="remotelink">{L_LINK_REMOTE_AVATAR}:</label>
				<div class="col-md-9">
					<input type="text" name="remotelink" id="remotelink" value="{AVATAR_REMOTE}" class="inputbox" />
					<span class="help-block">{L_LINK_REMOTE_AVATAR_EXPLAIN}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-3" for="width">{L_LINK_REMOTE_SIZE}:</label>
				<div class="col-md-9">
					<label for="width"><div class="input-prepend input-append"><span class="add-on">Width</span><input type="text" name="width" id="width" size="3" value="{AVATAR_WIDTH}" class="input-small autowidth" /><span class="add-on">{L_PIXEL}</span></label>
					<label for="height"><div class="input-prepend input-append "><span class="add-on">Height</span><input type="text" name="height" id="height" size="3" value="{AVATAR_HEIGHT}" class="input-small autowidth" /><span class="add-on">{L_PIXEL}</span></label>
					<span class="help-block">{L_LINK_REMOTE_SIZE_EXPLAIN}</span>
				</div>
			</div>
		<!-- ENDIF -->
	</div>
</fieldset>

<!-- IF S_IN_AVATAR_GALLERY -->
	<h3>{L_AVATAR_GALLERY}</h3>

	<fieldset>
		<label for="category">{L_AVATAR_CATEGORY}: <select name="category" id="category">{S_CAT_OPTIONS}</select></label>
		<input type="submit" value="{L_GO}" name="display_gallery" class="btn btn-default btn-sm" />
		<input type="submit" name="cancel" value="{L_CANCEL}" class="btn btn-default btn-sm" />
	</fieldset>

	<div id="gallery">
		<!-- BEGIN avatar_row --><!-- BEGIN avatar_column -->
			<label for="av-{avatar_row.S_ROW_COUNT}-{avatar_row.avatar_column.S_ROW_COUNT}"><img src="{avatar_row.avatar_column.AVATAR_IMAGE}" alt="" /><br />
				<input type="radio" name="avatar_select" id="av-{avatar_row.S_ROW_COUNT}-{avatar_row.avatar_column.S_ROW_COUNT}" value="{avatar_row.avatar_column.AVATAR_FILE}" />
			</label>
		<!-- END avatar_column --><!-- END avatar_row -->
	</div>
<!-- ENDIF -->