<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{L_USERGROUPS}</h3>
		</div>
		<div class="panel-body">
			<p>{L_GROUPS_EXPLAIN}</p>
			<!-- DEFINE $SHOW_BUTTONS = 0 -->
			<!-- IF .leader -->
				<div class="table-responsive">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<td>{L_GROUP_LEADER}</td>
								<td>{L_SELECT}</td>
							</tr>
						</thead>
						<tbody class="topiclist cplist">
							<!-- BEGIN leader -->
								<!-- IF not leader.GROUP_SPECIAL -->
									<!-- DEFINE $SHOW_BUTTONS = 1 -->
								<!-- ENDIF -->
								<tr>
									<td>
										<div class="radio">
											<label>
												<input type="radio" name="selected" value="{leader.GROUP_ID}" <!-- IF leader.GROUP_SPECIAL -->class="disabled"<!-- ENDIF --> /> <a href="{leader.U_VIEW_GROUP}" class="forumtitle"<!-- IF leader.GROUP_COLOUR --> style="color:#{leader.GROUP_COLOUR}"<!-- ENDIF -->>{leader.GROUP_NAME}</a>
												<!-- IF leader.GROUP_DESC --><br />{leader.GROUP_DESC}<!-- ENDIF -->
												<!-- IF not leader.GROUP_SPECIAL --><br /><i>{leader.GROUP_STATUS}</i><!-- ENDIF -->
											</label>
										</div>
									</td>
									<td class="text-center"><!-- IF S_CHANGE_DEFAULT --><input title="{L_CHANGE_DEFAULT_GROUP}" type="radio" name="default"<!-- IF leader.S_GROUP_DEFAULT --> checked="checked"<!-- ENDIF --> value="{leader.GROUP_ID}" /> <!-- ENDIF --></td>
								</tr>
							<!-- END leader -->
						</tbody>
					</table>
				</div>
			<!-- ENDIF -->
			
			<!-- IF .member -->
				<div class="table-responsive">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<td>{L_GROUP_MEMBER}</td>
								<td>{L_SELECT}</td>
							</tr>
						</thead>
						<tbody class="topiclist cplist">
							<!-- BEGIN member -->
								<!-- IF not member.GROUP_SPECIAL -->
									<!-- DEFINE $SHOW_BUTTONS = 1 -->
								<!-- ENDIF -->		
								<tr>
									<td>
										<div class="radio">
											<label>
												<input type="radio" name="selected" value="{member.GROUP_ID}" <!-- IF member.GROUP_SPECIAL -->class="disabled"<!-- ENDIF --> />
												<a href="{member.U_VIEW_GROUP}" class="forumtitle"<!-- IF member.GROUP_COLOUR --> style="color:#{member.GROUP_COLOUR}"<!-- ENDIF -->>{member.GROUP_NAME}</a>
												<!-- IF member.GROUP_DESC --><br />{member.GROUP_DESC}<!-- ENDIF -->
												<!-- IF not member.GROUP_SPECIAL --><br /><i>{member.GROUP_STATUS}</i><!-- ENDIF -->
											</label>
										</div>
									</td>
									<td class="text-center"><!-- IF S_CHANGE_DEFAULT --><input title="{L_CHANGE_DEFAULT_GROUP}" type="radio" name="default"<!-- IF member.S_GROUP_DEFAULT --> checked="checked"<!-- ENDIF --> value="{member.GROUP_ID}" /> <!-- ENDIF --></td>
								</tr>
							<!-- END member -->
						</tbody>
					</table>
				</div>
			<!-- ENDIF -->
			<!-- IF .pending -->
				<hr class="dashed" />
				<div class="table-responsive">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<td>{L_GROUP_PENDING}</td>
								<td>{L_SELECT}</td>
							</tr>
						</thead>
						<tbody class="topiclist cplist">
							<!-- BEGIN pending -->
								<!-- IF not pending.GROUP_SPECIAL -->
									<!-- DEFINE $SHOW_BUTTONS = 1 -->
								<!-- ENDIF -->			
								<tr>
									<td>
										<a href="{pending.U_VIEW_GROUP}" class="forumtitle"<!-- IF pending.GROUP_COLOUR --> style="color:#{pending.GROUP_COLOUR}"<!-- ENDIF -->>{pending.GROUP_NAME}</a>
										<!-- IF pending.GROUP_DESC --><br />{pending.GROUP_DESC}<!-- ENDIF -->
										<!-- IF not pending.GROUP_SPECIAL --><br /><i>{pending.GROUP_STATUS}</i><!-- ENDIF -->
									</td>
									<td class="text-center">
										<input type="radio" name="selected" value="{pending.GROUP_ID}" <!-- IF pending.GROUP_SPECIAL -->class="disabled"<!-- ENDIF --> />
									</td>
								</tr>
							<!-- END pending -->
						</tbody>
					</table>
				</div>
			<!-- ENDIF -->

			<!-- IF .pending and .nonmember --><hr class="dashed" /><!-- ENDIF -->
			
			<!-- IF .nonmember -->
				<div class="table-responsive">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<td>{L_GROUP_NONMEMBER}</td>
								<td>{L_SELECT}</td>
							</tr>
						</thead>
						<tbody class="topiclist cplist">
							<!-- BEGIN nonmember -->
								<!-- IF nonmember.S_CAN_JOIN -->
									<!-- DEFINE $SHOW_BUTTONS = 1 -->
								<!-- ENDIF -->		
								<tr>
									<td>
										<a href="{nonmember.U_VIEW_GROUP}" class="forumtitle"<!-- IF nonmember.GROUP_COLOUR --> style="color:#{nonmember.GROUP_COLOUR}"<!-- ENDIF -->>{nonmember.GROUP_NAME}</a>
										<!-- IF nonmember.GROUP_DESC --><br />{nonmember.GROUP_DESC}<!-- ENDIF -->
										<!-- IF not nonmember.GROUP_SPECIAL --><br /><i>{nonmember.GROUP_STATUS}</i><!-- ENDIF -->
									</td>
									<td class="text-center">
										<input type="radio" name="selected" value="{nonmember.GROUP_ID}" <!-- IF not nonmember.S_CAN_JOIN -->class="disabled"<!-- ENDIF --> />
									</td>
								</tr>
							<!-- END nonmember -->
						</tbody>
					</table>
				</div>
			<!-- ENDIF -->
		</div>
		<div class="panel-footer">
			<!-- IF S_CHANGE_DEFAULT or $SHOW_BUTTONS eq 1 -->
				<fieldset>
					<!-- IF S_CHANGE_DEFAULT -->
						<div class="pull-left">
							<input class="btn btn-success" type="submit" name="change_default" value="{L_CHANGE_DEFAULT_GROUP}" />
							{S_FORM_TOKEN}
						</div>
					<!-- ENDIF -->
					
					<!-- IF $SHOW_BUTTONS eq 1 -->
						<div class="pull-right">
							<label for="action">{L_SELECT}:</label> 
							<select name="action" id="action">
								<option value="join">{L_JOIN_SELECTED}</option>
								<option value="resign">{L_RESIGN_SELECTED}</option>
								<option value="demote">{L_DEMOTE_SELECTED}</option>
							</select>&nbsp;
							<input class="btn btn-default" type="submit" name="submit" value="{L_SUBMIT}" />
							{S_FORM_TOKEN}
						</div>
					<!-- ENDIF -->
				</fieldset>
			<!-- ENDIF -->
		</div>
	</div>
</form>

<!-- INCLUDE ucp_footer.html -->