<!-- INCLUDE ucp_header.html -->

<!-- IF not PROMPT -->
	<!-- INCLUDE ucp_pm_message_header.html -->
<!-- ENDIF -->

<!-- IF PROMPT -->
	<form id="viewfolder" method="post" action="{S_PM_ACTION}">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{L_EXPORT_AS_CSV}</h3>
			</div>
			<div class="panel-body">
				<h3>{L_OPTIONS}</h3>
				<fieldset>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-md-4" for="delimiter">{L_DELIMITER}:</label>
							<div class="col-md-8">
								<input class="form-control" type="text" id="delimiter" name="delimiter" value="," />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-4" for="enclosure">{L_ENCLOSURE}:</label></dt>
							<div class="col-md-8">
								<input class="form-control" type="text" id="enclosure" name="enclosure" value="&#034;" />
							</div>
						</div>
					</div>
				</fieldset>
				<fieldset class="submit-buttons">
					<input type="hidden" name="export_option" value="CSV" />
					<input class="btn btn-default" type="submit" name="submit_export" value="{L_EXPORT_FOLDER}" />&nbsp;
					<input class="btn btn-default" type="reset" value="Reset" name="reset" />&nbsp;
					{S_FORM_TOKEN}
				</fieldset>
			</div>
		</div>
	</form>
<!-- ELSE -->

	<!-- IF NUM_REMOVED -->
		<div class="notice">
			<p>{RULE_REMOVED_MESSAGES}</p>
		</div>
	<!-- ENDIF -->

	<!-- IF NUM_NOT_MOVED -->
		<div class="notice">
			<p>{NOT_MOVED_MESSAGES}<br />{RELEASE_MESSAGE_INFO}</p>
		</div>
	<!-- ENDIF -->

	<!-- IF .messagerow -->
		<div class="table-responsive">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>{L_MESSAGE}</th>
						<th><span>{L_MARK}</span></th>
					</tr>
				</thead>
				<tbody class="topiclist cplist pmlist">
					<!-- BEGIN messagerow -->
						<tr <!-- IF messagerow.PM_CLASS -->class="{messagerow.PM_CLASS}"<!-- ENDIF -->>
							<td>
								<div class="pull-left pm-topic-icon">
									<a href="<!-- IF messagerow.S_PM_DELETED -->{messagerow.U_REMOVE_PM}<!-- ELSE -->{messagerow.U_VIEW_PM}<!-- ENDIF -->" class="btn <!-- IF topicrow.S_UNREAD_TOPIC -->btn-info<!-- ELSE -->btn-default<!-- ENDIF --> btn-lg tooltip-link" title="{topicrow.PM_FOLDER_IMG_ALT}">
										<i class="fa fa-file-text-o"></i>
									</a>
									<!-- IF messagerow.PM_ICON_URL and S_PM_ICONS -->
										<img scr="{messagerow.PM_ICON_URL}" style="background-repeat: no-repeat;">
									<!-- ENDIF -->
								</div>
								<!-- IF messagerow.S_PM_DELETED -->
									<a href="{messagerow.U_REMOVE_PM}" class="topictitle">{L_DELETE_MESSAGE}</a><br />
									<span class="error">{L_MESSAGE_REMOVED_FROM_OUTBOX}</span>
								<!-- ELSE -->
									<a href="{messagerow.U_VIEW_PM}" class="topictitle">{messagerow.SUBJECT}</a>
								<!-- ENDIF -->
								<!-- IF messagerow.S_AUTHOR_DELETED -->
									<br /><em class="small">{L_PM_FROM_REMOVED_AUTHOR}</em>
								<!-- ENDIF -->

								<!-- IF messagerow.S_PM_REPORTED --><a href="{messagerow.U_MCP_REPORT}">{REPORTED_IMG}</a><!-- ENDIF -->
								{messagerow.ATTACH_ICON_IMG}<br />
								<small><!-- IF S_SHOW_RECIPIENTS -->{L_MESSAGE_TO} {messagerow.RECIPIENTS}<!-- ELSE -->{L_MESSAGE_BY_AUTHOR} {messagerow.MESSAGE_AUTHOR_FULL} &raquo; {messagerow.SENT_TIME}<!-- ENDIF --></small>
								<!-- IF S_SHOW_RECIPIENTS -->&raquo; <small><span>{L_SENT_AT}: {messagerow.SENT_TIME}</span></small><!-- ENDIF -->
								<!-- IF S_UNREAD -->&raquo; <small><!-- IF messagerow.FOLDER --><a href="{messagerow.U_FOLDER}">{messagerow.FOLDER}</a><!-- ELSE -->{L_UNKNOWN_FOLDER}<!-- ENDIF --></small><!-- ENDIF -->
							</td>
							<td class="mark"><input type="checkbox" name="marked_msg_id[]" value="{messagerow.MESSAGE_ID}" /></td>
						</tr>
					<!-- END messagerow -->
				</tbody>
			</table>
		</div>
	<!-- ELSE -->
		<p><strong>
			<!-- IF S_COMPOSE_PM_VIEW and S_NO_AUTH_SEND_MESSAGE -->
				<!-- IF S_USER_NEW -->{L_USER_NEW_PERMISSION_DISALLOWED}<!-- ELSE -->{L_NO_AUTH_SEND_MESSAGE}<!-- ENDIF -->
			<!-- ELSE -->
				{L_NO_MESSAGES}
			<!-- ENDIF -->
		</strong></p>
	<!-- ENDIF -->

	<!-- IF FOLDER_CUR_MESSAGES neq 0 -->
		<fieldset class="display-actions">
			<div class="pull-left">
				<label for="export_option">
					{L_EXPORT_FOLDER}: <select name="export_option" id="export_option">
						<option value="CSV">{L_EXPORT_AS_CSV}</option><option value="CSV_EXCEL">{L_EXPORT_AS_CSV_EXCEL}</option>
						<option value="XML">{L_EXPORT_AS_XML}</option>
					</select>
				</label>
				<input class="btn btn-default" type="submit" name="submit_export" value="{L_GO}" /><br />
			</div>
			<div class="pull-right btn-group">
				<a href="#" class="btn btn-sm btn-success" onclick="marklist('viewfolder', 'marked_msg', true); return false;">{L_MARK_ALL}</a>
				<a href="#" class="btn btn-sm btn-warning" onclick="marklist('viewfolder', 'marked_msg', false); return false;">{L_UNMARK_ALL}</a>
			</div>
			<div class="clearfix"></div>
			<select name="mark_option">{S_MARK_OPTIONS}{S_MOVE_MARKED_OPTIONS}</select>
			<input class="btn btn-default" type="submit" name="submit_mark" value="{L_GO}" />
		</fieldset>
		<hr />
		<!-- IF TOTAL_MESSAGES or S_VIEW_MESSAGE -->
			<div class="text-center row">
				<div class="col-md-12">
					<div class="btn-group">
						<!-- IF TOTAL_MESSAGES --><span class="btn btn-default btn-sm disabled">{TOTAL_MESSAGES}</span><!-- ENDIF -->
						<!-- IF PAGE_NUMBER -->
							<!-- IF PAGINATION -->
								<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a>
								<span class="btn btn-default btn-sm">{PAGINATION}</span>
							<!-- ELSE -->
								<span class="btn btn-default btn-sm disabled">{PAGE_NUMBER}</span>
							<!-- ENDIF -->
						<!-- ENDIF -->
					</div>
				</div>
			</div>
		<!-- ENDIF -->
	<!-- ENDIF -->
	<!-- IF FOLDER_CUR_MESSAGES neq 0 -->
		<fieldset class="display-options">
			<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
			<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
			<label>{L_DISPLAY}: {S_SELECT_SORT_DAYS}</label>
			<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label>
			<label>{S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="btn btn-default" /></label>
			<input type="hidden" name="cur_folder_id" value="{CUR_FOLDER_ID}" />
		</fieldset>
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF not PROMPT -->
	<!-- INCLUDE ucp_pm_message_footer.html -->
<!-- ENDIF -->

<!-- INCLUDE ucp_footer.html -->