<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{L_TITLE}</h3>
		</div>
		<div class="panel-body">
			<p>{L_WATCHED_EXPLAIN}</p>
			<!-- IF .forumrow -->
				<table class="table table-striped table-bordered">
					<thead style="background:none;">
						<tr>
							<th>{L_WATCHED_FORUMS}</th>
							<th class="lastpost">{L_LAST_POST}</th>
							<th class="mark">{L_MARK}</th>
						</tr>
					</thead>
					<tbody class="topiclist cplist">
						<!-- BEGIN forumrow -->
							<tr>
								<td><i class="pcon {forumrow.FORUM_IMG_STYLE}"></i><a href="{forumrow.U_VIEWFORUM}" class="forumtitle">{forumrow.FORUM_NAME}</a><br />{forumrow.FORUM_DESC}</td>
								<td class="lastpost"><!-- IF forumrow.LAST_POST_TIME --><span><dfn>{L_LAST_POST} </dfn>{L_POST_BY_AUTHOR} {forumrow.LAST_POST_AUTHOR_FULL}
									<a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a> <br />{forumrow.LAST_POST_TIME}</span>
									<!-- ELSE -->{L_NO_POSTS}<br />&nbsp;<!-- ENDIF -->
								</td>
								<td class="mark"><center><input type="checkbox" name="f[{forumrow.FORUM_ID}]" id="f{forumrow.FORUM_ID}" /></center></td>
							</tr>
						<!-- END forumrow -->
					</tbody>
				</table>
			<!-- ELSEIF S_FORUM_NOTIFY -->
				<p><strong>{L_NO_WATCHED_FORUMS}</strong></p>
			<!-- ENDIF -->

			<!-- IF .topicrow -->
				<hr class="dashed"/>
				<div class="text-center">
					<div class="btn-group">
						<!-- IF TOTAL_TOPICS --> <span class="btn btn-default btn-sm disabled">{TOTAL_TOPICS}</span><!-- ENDIF -->
						<!-- IF PAGE_NUMBER -->
							<!-- IF PAGINATION -->
								<a href="#" class="btn bn-default" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}"><span class="label">{PAGE_NUMBER}</span></a>
								<span class="btn btn-default btn-sm">{PAGINATION}</span>
							<!-- ELSE -->
								<span class="btn btn-default btn-sm disabled">{PAGE_NUMBER}</span>
							<!-- ENDIF -->
						<!-- ENDIF -->
					</div>
				</div>
				<table class="table table-striped table-bordered">
					<thead style="background:none;">
						<tr>
							<th>{L_WATCHED_TOPICS}</th>
							<th class="lastpost">{L_LAST_POST}</th>
							<th class="mark">{L_MARK}</th>
						</tr>
					</thead>
					<tbody class="topiclist cplist">
						<!-- BEGIN topicrow -->
							<tr>
								<td<!-- IF topicrow.TOPIC_ICON_IMG --> style="background-image: url({T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF --> title="{topicrow.TOPIC_FOLDER_IMG_ALT}">
									<!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF --><i class="pcon {topicrow.TOPIC_IMG_STYLE}"></i><a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>
									<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED --><a href="{topicrow.U_MCP_QUEUE}">{topicrow.UNAPPROVED_IMG}</a> <!-- ENDIF -->
									<!-- IF topicrow.S_TOPIC_REPORTED --><a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a><!-- ENDIF --><br />
									<!-- IF topicrow.PAGINATION --><strong class="pagination"><span>{topicrow.PAGINATION}</span></strong><!-- ENDIF -->
									<!-- IF topicrow.ATTACH_ICON_IMG -->{topicrow.ATTACH_ICON_IMG} <!-- ENDIF -->{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL} &raquo; {topicrow.FIRST_POST_TIME}
								</td>
								<td class="lastpost"><span><dfn>{L_LAST_POST} </dfn>{L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}
									<a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a> <br />{topicrow.LAST_POST_TIME}</span>
								</td>
								<td class="mark"><center><input type="checkbox" name="t[{topicrow.TOPIC_ID}]" id="t{topicrow.TOPIC_ID}" /></center></td>
							</tr>
						<!-- END topicrow -->
					</tbody>
				</table>
			<!-- ELSEIF S_TOPIC_NOTIFY -->
				<p><strong>{L_NO_WATCHED_TOPICS}</strong></p>
			<!-- ENDIF -->
		</div>
	</div>

	<!-- IF .topicrow or .forumrow -->
		<fieldset class="row display-actions">
			<div class="btn-group">
				<a class="btn btn-success btn-sm" href="#" onclick="marklist('ucp', 't', true); marklist('ucp', 'f', true); return false;">{L_MARK_ALL}</a>
				<a class="btn btn-warning btn-sm" href="#" onclick="marklist('ucp', 't', false); marklist('ucp', 'f', false); return false;">{L_UNMARK_ALL}</a>
			</div>
			<input type="submit" name="unwatch" value="{L_UNWATCH_MARKED}" class="btn btn-primary" />
			{S_FORM_TOKEN}
		</fieldset>
	<!-- ENDIF -->
</form>

<!-- INCLUDE ucp_footer.html -->