<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{L_TITLE}</h3>
		</div>
		<div class="panel-body">
			<fieldset>
				<div class="form-horizontal">
					<!-- IF ERROR --><p class="alert alert-danger">{ERROR}</p><!-- ENDIF -->
					<div class="form-group">
						<label class="control-label col-md-4" for="bbcode1">{L_DEFAULT_BBCODE}:</label>
						<div class="col-md-8">
							<label for="bbcode1" class="radio-inline"><input type="radio" name="bbcode" id="bbcode1" value="1"<!-- IF S_BBCODE --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
							<label for="bbcode0" class="radio-inline"><input type="radio" name="bbcode" id="bbcode0" value="0"<!-- IF not S_BBCODE --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-4" for="smilies1">{L_DEFAULT_SMILIES}:</label>
						<div class="col-md-8">
							<label for="smilies1" class="radio-inline"><input type="radio" name="smilies" id="smilies1" value="1"<!-- IF S_SMILIES --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
							<label for="smilies0" class="radio-inline"><input type="radio" name="smilies" id="smilies0" value="0"<!-- IF not S_SMILIES --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-4" for="sig1">{L_DEFAULT_ADD_SIG}:</label>
						<div class="col-md-8">
							<label for="sig1" class="radio-inline"><input type="radio" name="sig" id="sig1" value="1"<!-- IF S_SIG --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
							<label for="sig0" class="radio-inline"><input type="radio" name="sig" id="sig0" value="0"<!-- IF not S_SIG --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-4" for="notify1">{L_DEFAULT_NOTIFY}:</label>
						<div class="col-md-8">
							<label for="notify1" class="radio-inline"><input type="radio" name="notify" id="notify1" value="1"<!-- IF S_NOTIFY --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
							<label for="notify0" class="radio-inline"><input type="radio" name="notify" id="notify0" value="0"<!-- IF not S_NOTIFY --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="panel-footer">
			<fieldset class="submit-buttons">
				{S_HIDDEN_FIELDS}
				<input type="reset" value="{L_RESET}" name="reset" class="btn btn-danger" />
				<input type="submit" name="submit" value="{L_SUBMIT}" class="btn btn-success" />
				{S_FORM_TOKEN}
			</fieldset>
		</div>
	</div>
</form>

<!-- INCLUDE ucp_footer.html -->