<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{L_TITLE}</h3>
		</div>
		<div class="panel-body">
			<p>{L_BOOKMARKS_EXPLAIN}</p>
			<!-- IF S_NO_DISPLAY_BOOKMARKS -->
				<p class="error">{L_BOOKMARKS_DISABLED}</p>
			<!-- ELSE -->
				<!-- IF .topicrow -->
					<div class="text-center">
						<div class="btn-group">
							<!-- IF TOTAL_TOPICS --><span class="btn btn-default btn-sm disabled">{TOTAL_TOPICS}</span> <!-- ENDIF -->
							<!-- IF PAGE_NUMBER -->
								<!-- IF PAGINATION -->
									<a href="#" class="btn btn-default" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}"><span>{PAGE_NUMBER}</span></a>
									<span class="btn btn-default btn-sm">{PAGINATION}</span>
								<!-- ELSE -->
									<span class="btn btn-default btn-sm disabled">{PAGE_NUMBER}</span>
								<!-- ENDIF -->
							<!-- ENDIF -->
						</div>
					</div>
					<div class="spacer"></div>
					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>{L_BOOKMARKS}</th>
									<th class="lastpost"><span>{L_LAST_POST}</span></th>
									<th>{L_MARK}</th>
								</tr>
							</thead>
							<tbody class="topiclist cplist">
								<!-- BEGIN topicrow -->
									<!-- IF topicrow.S_DELETED_TOPIC -->
										<tr>
											<td><strong>{L_DELETED_TOPIC}</strong></td>
											<td class="mark"><input type="checkbox" name="t[{topicrow.TOPIC_ID}]" id="t{topicrow.TOPIC_ID}" /></td>
										</tr>
									<!-- ELSE -->
										<tr>
											<td<!-- IF topicrow.TOPIC_ICON_IMG --> style="background-image: url({T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF --> title="{topicrow.TOPIC_FOLDER_IMG_ALT}">
												<div class="pull-left forum-topic-icon">
													<span><a href="{topicrow.U_VIEW_TOPIC}" class="btn <!-- IF topicrow.S_UNREAD_TOPIC -->btn-info<!-- ELSE -->btn-default<!-- ENDIF --> btn-lg tooltip-link" title="{topicrow.TOPIC_FOLDER_IMG_ALT}">
														<!-- IF topicrow.S_TOPIC_LOCKED -->
															<i class="fa fa-lock"></i>
														<!-- ELSEIF topicrow.S_POST_GLOBAL -->
															<i class="fa fa-info-circle"></i>
														<!-- ELSEIF topicrow.S_POST_ANNOUNCE -->
															<i class="fa fa-bullhorn"></i>
														<!-- ELSEIF topicrow.S_POST_STICKY -->
															<i class="fa fa-thumb-tack"></i>
														<!-- ELSEIF topicrow.S_HAS_POLL -->
															<i class="fa fa-comment-o"></i>
														<!-- ELSE -->
															<i class="fa fa-file-text-o"></i>
														<!-- ENDIF --> 
													</a></span>
												</div>
												<div class="pull-right">
													<div class="btn-group pagination-line">
														<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
															<a href="{topicrow.U_MCP_QUEUE}" class="btn btn-warning btn-xs"><i class="fa fa-exclamation-triangle"></i></a>
														<!-- ENDIF -->
														<!-- IF topicrow.S_TOPIC_REPORTED -->
															<a href="{topicrow.U_MCP_REPORT}" class="btn btn-warning btn-xs"><i class="fa fa-exclamation-triangle"></i></a>
														<!-- ENDIF -->
														<!-- IF topicrow.ATTACH_ICON_IMG -->
															<a href="#" class="btn btn-default btn-xs disabled"><i class="fa fa-paperclip"></i></a>
														<!-- ENDIF -->
														<!-- IF topicrow.PAGINATION -->
															{topicrow.PAGINATION}
														<!-- ENDIF -->
														<!-- IF topicrow.S_UNREAD_TOPIC -->
															<a class="btn btn-xs btn-info" href="{topicrow.U_NEWEST_POST}"><i class="fa fa-angle-right"></i></a>
														<!-- ENDIF -->
														<!-- IF not S_IS_BOT -->
															<a class="btn btn-default btn-xs tooltip-link" href="{topicrow.U_LAST_POST}"  title="{L_LAST_POST}"><i class="fa fa-angle-double-right"></i></a>
														<!-- ENDIF -->		
													</div>
												</div>
												<a href="{topicrow.U_VIEW_TOPIC}" class="topictitle"><strong>{topicrow.TOPIC_TITLE}</strong></a><br/>
												<small>{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL} &raquo; {topicrow.FIRST_POST_TIME}</small>
											</td>
											<td class="lastpost"><center><span><dfn>{L_LAST_POST} </dfn>{L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}
												<a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a> <br />{topicrow.LAST_POST_TIME}</span></center>
											</td>
											<td class="mark"><center><input type="checkbox" name="t[{topicrow.TOPIC_ID}]" id="t{topicrow.TOPIC_ID}" /></center></td>
										</tr>
									<!-- ENDIF -->
								<!-- END topicrow -->
							</tbody>
						</table>
					</div>
				<!-- ELSE -->
					<p><strong>{L_NO_BOOKMARKS}</strong></p>
				<!-- ENDIF -->
			<!-- ENDIF -->
			<!-- IF .topicrow and not S_NO_DISPLAY_BOOKMARKS -->
				<div class="text-right">
					<fieldset>
						<div class="btn-group">
							<a class="btn btn-success btn-sm" href="#" onclick="marklist('ucp', '', true); return false;">{L_MARK_ALL}</a>
							<a class="btn btn-warning btn-sm" href="#" onclick="marklist('ucp', '', false); return false;">{L_UNMARK_ALL}</a>
						</div>
						<input type="submit" name="unbookmark" value="{L_REMOVE_BOOKMARK_MARKED}" class="btn btn-danger btn-sm" />
						{S_FORM_TOKEN}
					</fieldset>
				</div>
			<!-- ENDIF -->
		</div>
	</div>
</form>

<!-- INCLUDE ucp_footer.html -->