<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{L_TITLE}</h3>
		</div>
		<div class="panel-body">
			<!-- INCLUDE ucp_avatar_options.html -->
		</div>
		<div class="panel-footer">
			<fieldset class="submit-buttons">
				{S_HIDDEN_FIELDS}
				<!-- IF S_DISPLAY_GALLERY --><input type="submit" name="display_gallery" value="{L_DISPLAY_GALLERY}" class="btn btn-success" /><!-- ENDIF -->
				<!-- IF S_IN_AVATAR_GALLERY --><input type="submit" name="cancel" value="{L_CANCEL}" class="btn btn-default" /><!-- ELSE -->
				<input type="reset" value="{L_RESET}" name="reset" class="btn btn-danger" /><!-- ENDIF -->
				<input type="submit" name="submit" value="{L_SUBMIT}" class="btn btn-success" />
				{S_FORM_TOKEN}
			</fieldset>
		</div>
	</div>
</form>

<!-- INCLUDE ucp_footer.html -->