<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title" <!-- IF GROUP_COLOR --> style="color:#{GROUP_COLOR};"<!-- ENDIF -->>{L_USERGROUPS}<!-- IF GROUP_NAME --> :: {GROUP_NAME}<!-- ENDIF --></h3>
		</div>
		<div class="panel-body">
			<p>{L_GROUPS_EXPLAIN}</p>
			<hr class="panel-dash"/>
			<!-- IF S_EDIT -->
				<h3>{L_GROUP_DETAILS}</h3>
				<!-- IF S_ERROR -->
					<div class="alert alert-danger">
						<h3>{L_WARNING}</h3>
						<p>{ERROR_MSG}</p>
					</div>
				<!-- ENDIF -->
				<fieldset>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-md-4" for="group_name">{L_GROUP_NAME}:</label>
							<div class="col-md-8">
								<!-- IF S_SPECIAL_GROUP --><strong <!-- IF GROUP_COLOUR -->style="color: #{GROUP_COLOUR};"<!-- ENDIF -->><p class="form-control-static">{GROUP_NAME}</p></strong> <input name="group_name" type="hidden" value="{GROUP_INTERNAL_NAME}" />
								<!-- ELSE --><input name="group_name" type="text" id="group_name" value="{GROUP_INTERNAL_NAME}" class="form-control" /><!-- ENDIF -->
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-4" for="group_desc">{L_GROUP_DESC}:</label>
							<div class="col-md-8">
								<textarea id="group_desc" name="group_desc" rows="5" cols="45" class="form-control">{GROUP_DESC}</textarea>
								<label class="checkbox-inline" for="desc_parse_bbcode"><input type="checkbox" class="radio" name="desc_parse_bbcode" id="desc_parse_bbcode"<!-- IF S_DESC_BBCODE_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_PARSE_BBCODE}</label>
								<label class="checkbox-inline" for="desc_parse_smilies"><input type="checkbox" class="radio" name="desc_parse_smilies" id="desc_parse_smilies"<!-- IF S_DESC_SMILIES_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_PARSE_SMILIES}</label>
								<label class="checkbox-inline" for="desc_parse_urls"><input type="checkbox" class="radio" name="desc_parse_urls" id="desc_parse_urls"<!-- IF S_DESC_URLS_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_PARSE_URLS}</label>
							</div>
						</div>
						<!-- IF not S_SPECIAL_GROUP -->
							<div class="form-group">
								<label class="control-label col-md-4" for="group_type1">{L_GROUP_TYPE}:</label>
								<div class="col-md-8">
									<label class="radio-inline" for="group_type1"><input type="radio" name="group_type" id="group_type1" value="{GROUP_TYPE_FREE}"{GROUP_FREE} /> {L_GROUP_OPEN}</label> 
									<label class="radio-inline" for="group_type2"><input type="radio" name="group_type" id="group_type2" value="{GROUP_TYPE_OPEN}"{GROUP_OPEN} /> {L_GROUP_REQUEST}</label> 
									<label class="radio-inline" for="group_type3"><input type="radio" name="group_type" id="group_type3" value="{GROUP_TYPE_CLOSED}"{GROUP_CLOSED} /> {L_GROUP_CLOSED}</label> 
									<label class="radio-inline" for="group_type4"><input type="radio" name="group_type" id="group_type4" value="{GROUP_TYPE_HIDDEN}"{GROUP_HIDDEN} /> {L_GROUP_HIDDEN}</label>
									<span class="help-block">{L_GROUP_TYPE_EXPLAIN}</span>
								</div>
							</div>
						<!-- ELSE -->
							<input name="group_type" type="hidden" value="{GROUP_TYPE_SPECIAL}" />
						<!-- ENDIF -->
					</div>
				</fieldset>
				<hr class="dashed" />
				<h3>{L_GROUP_SETTINGS_SAVE}</h3>
				<fieldset>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-md-4" for="group_colour">{L_GROUP_COLOR}:</label>
							<div class="col-md-8">
								<input name="group_colour" type="hidden" id="group_colour" value="{GROUP_COLOUR}" />
								<div class="input-group colour-picker" id="group_colour_component">
									<input type="text" value="#{GROUP_COLOUR}" size="7" maxlength="7" class="form-control color-picker"/>
									<span class="input-group-addon"><i></i></span>
								</div>
								<span class="help-block">{L_GROUP_COLOR_EXPLAIN}</span>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-4" for="group_rank">{L_GROUP_RANK}:</label>
							<div class="col-md-8">
								<select name="group_rank" id="group_rank">{S_RANK_OPTIONS}</select>
							</div>
						</div>
					</div>
				</fieldset>

				<!-- INCLUDE ucp_avatar_options.html -->

			<!-- ELSEIF S_LIST -->
				<!-- IF .leader -->
					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>{L_GROUP_LEAD}</th>
									<th>{L_GROUP_DEFAULT}</th>
									<th>{L_POSTS}</th>
									<th>{L_JOINED}</th>
									<th>{L_MARK}</th>
								</tr>
							</thead>
							<tbody>
								<!-- BEGIN leader -->
									<tr>
										<td>{leader.USERNAME_FULL}</td>
										<td><!-- IF leader.S_GROUP_DEFAULT -->{L_YES}<!-- ELSE -->{L_NO}<!-- ENDIF --></td>
										<td>{leader.USER_POSTS}</td>
										<td>{leader.JOINED}</td>
										<td>&nbsp;</td>
									</tr>
								<!-- END leader -->
							</tbody>
						</table>
					</div>
				<!-- ENDIF -->

				<!-- BEGIN member -->
					<!-- IF member.S_PENDING -->
						<div class="table-responsive">
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>{L_GROUP_PENDING}</th>
										<th>{L_GROUP_DEFAULT}</th>
										<th>{L_POSTS}</th>
										<th>{L_JOINED}</th>
										<th>{L_MARK}</th>
									</tr>
								</thead>
								<tbody>
					<!-- ELSEIF member.S_APPROVED -->
						<!-- IF S_PENDING_SET -->
									</tbody>
								</table>
							</div>
						<!-- ENDIF -->
						<div class="table-responsive">
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>{L_GROUP_APPROVED}</th>
										<th>{L_GROUP_DEFAULT}</th>
										<th>{L_POSTS}</th>
										<th>{L_JOINED}</th>
										<th>{L_MARK}</th>
									</tr>
								</thead>
								<tbody>
					<!-- ELSE -->
						<tr>
							<td>{member.USERNAME_FULL}</td>
							<td><!-- IF member.S_GROUP_DEFAULT -->{L_YES}<!-- ELSE -->{L_NO}<!-- ENDIF --></td>
							<td>{member.USER_POSTS}</td>
							<td>{member.JOINED}</td>
							<td><input type="checkbox" name="mark[]" value="{member.USER_ID}" /></td>
						</tr>
					<!-- ENDIF -->
					<!-- BEGINELSE -->
						<div class="table-responsive">
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>{L_MEMBERS}</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>{L_GROUPS_NO_MEMBERS}</td>
									</tr>
				<!-- END member -->
						</tbody>
					</table>
				</div>
				<ul class="linklist">
					<li class="leftside pagination">
						<!-- IF PAGINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a> <span>{PAGINATION}</span><!-- ELSE -->{S_ON_PAGE}<!-- ENDIF -->
					</li>
				</ul>
				<hr class="dashed" />
				<fieldset class="text-right">
					<div class="btn-group">	
						<a class="btn btn-success btn-sm" href="#" onclick="marklist('ucp', 'mark', true); return false;">{L_MARK_ALL}</a>
						<a class="btn btn-warning btn-sm" href="#" onclick="marklist('ucp', 'mark', false); return false;">{L_UNMARK_ALL}</a>
					</div>
					<select name="action"><option value="">{L_SELECT_OPTION}</option>{S_ACTION_OPTIONS}</select>
					<input class="btn btn-primary" type="submit" name="update" value="{L_SUBMIT}" />
				</fieldset>
				<hr class="panel-dash"/>
				<h3>{L_ADD_USERS}</h3>
				<p>{L_ADD_USERS_UCP_EXPLAIN}</p>
				<fieldset>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-md-4" for="default0">{L_USER_GROUP_DEFAULT}:</label>
							<div class="col-md-8">
								<label class="radio-inline" for="default1"><input type="radio" name="default" id="default1" value="1" /> {L_YES}</label> 
								<label class="radio-inline" for="default0"><input type="radio" name="default" id="default0" value="0" checked="checked" /> {L_NO}</label>
								<span class="help-block">{L_USER_GROUP_DEFAULT_EXPLAIN}</span>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-4" for="usernames">{L_USERNAME}:</label>
							<div class="col-md-8">
								<textarea name="usernames" id="usernames" rows="3" cols="30" class="form-control"></textarea>
								<div class="spacer"></div>
								<a class="btn btn-default btn-sm btn-success" href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a>
								<span class="help-block">{L_USERNAMES_EXPLAIN}</span>
							</div>
						</div>
				</fieldset>
				<hr class="dashed" />
				<fieldset class="submit-buttons">
					<input class="btn btn-primary" type="submit" name="addusers" value="{L_SUBMIT}" />
					{S_FORM_TOKEN}
				</fieldset>
			<!-- ELSE -->
				<!-- IF .leader -->
					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead class="topiclist">
								<tr class="header">
									<th>{L_GROUP_LEADER}</th>
									<th><span>{L_OPTIONS}</span></th>
								</tr>
							</thead>
							<tbody class="topiclist cplist">
								<!-- BEGIN leader -->
									<tr>
										<td><a href="{leader.U_EDIT}" class="topictitle"<!-- IF leader.GROUP_COLOUR --> style="color: #{leader.GROUP_COLOUR};"<!-- ENDIF -->>{leader.GROUP_NAME}</a>
											<!-- IF leader.GROUP_DESC --><br />{leader.GROUP_DESC}<!-- ENDIF -->
										</td>
										<td class="option"><span><a class="btn btn-warning btn-sm" href="{leader.U_EDIT}" >{L_EDIT}</a></span> <span><a class="btn btn-default btn-sm" href="{leader.U_LIST}">{L_GROUP_LIST}</a></span></td>
									</tr>
								<!-- END leader -->
							</tbody>
						</table>
					</div>
				<!-- ELSE -->
					<p><strong>{L_NO_LEADERS}</strong></p>
				<!-- ENDIF -->
			<!-- ENDIF -->
		</div>
		<div class="panel-footer">
			<fieldset class="submit-buttons">
				{S_HIDDEN_FIELDS}
				<!-- IF S_DISPLAY_GALLERY --><input type="submit" name="display_gallery" value="{L_DISPLAY_GALLERY}" class="btn btn-success" /><!-- ENDIF -->
				<!-- IF S_IN_AVATAR_GALLERY -->
					<input type="submit" name="cancel" value="{L_CANCEL}" class="btn btn-default" />
				<!-- ELSE -->
					<input type="reset" value="{L_RESET}" name="reset" class="btn btn-danger" />
				<!-- ENDIF -->
				<input type="submit" name="update" value="{L_SUBMIT}" class="btn btn-success" />
				{S_FORM_TOKEN}
			</fieldset>
		</div>
	</div>
</form>

<!-- INCLUDE ucp_footer.html -->