<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{L_TITLE}</h3>
		</div>
		<div class="panel-body">
			<!-- IF S_FORCE_PASSWORD -->
				<p>{L_FORCE_PASSWORD_EXPLAIN}</p>
			<!-- ENDIF -->
			<fieldset>
				<div class="form-horizontal">
					<!-- IF ERROR --><p class="alert alert-danger">{ERROR}</p><!-- ENDIF -->
					<div class="form-group">
						<label class="control-label col-md-4" <!-- IF S_CHANGE_USERNAME -->for="username"<!-- ENDIF -->>{L_USERNAME}:</label>
						<div class="col-md-8">
							<!-- IF S_CHANGE_USERNAME --><input type="text" name="username" id="username" value="{USERNAME}" class="form-control" title="{L_USERNAME}" /><!-- ELSE --><div class="form-control-static"><strong>{USERNAME}</strong></div><!-- ENDIF -->
							<span class="help-block">{L_USERNAME_EXPLAIN}</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-4" for="email">{L_EMAIL_ADDRESS}:</label>
						<div class="col-md-8">
							<!-- IF S_CHANGE_EMAIL --><input type="text" name="email" id="email" maxlength="100" value="{EMAIL}" class="form-control" title="{L_EMAIL_ADDRESS}" /><!-- ELSE --><strong>{EMAIL}</strong><!-- ENDIF -->
						</div>
					</div>
					<!-- IF S_CHANGE_EMAIL -->
						<div class="form-group">
							<label class="control-label col-md-4" for="email_confirm">{L_CONFIRM_EMAIL}:</label>
							<div class="col-md-8">
								<input type="text" name="email_confirm" id="email_confirm" maxlength="100" value="{CONFIRM_EMAIL}" class="form-control" title="{L_CONFIRM_EMAIL}" />
								<span class="help-block">{L_CONFIRM_EMAIL_EXPLAIN}</span>
							</div>
						</div>
					<!-- ENDIF -->
					<!-- IF S_CHANGE_PASSWORD -->
						<div class="form-group">
							<label class="control-label col-md-4" for="new_password">{L_NEW_PASSWORD}:</label>
							<div class="col-md-8">
								<input type="password" name="new_password" id="new_password" maxlength="255" value="{NEW_PASSWORD}" class="form-control" title="{L_CHANGE_PASSWORD}" />
								<span class="help-block">{L_CHANGE_PASSWORD_EXPLAIN}</span>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-4" for="password_confirm">{L_CONFIRM_PASSWORD}:</label>
							<div class="col-md-8">
								<input type="password" name="password_confirm" id="password_confirm" maxlength="255" value="{PASSWORD_CONFIRM}" class="form-control" title="{L_CONFIRM_PASSWORD}" />
								<span class="help-block">{L_CONFIRM_PASSWORD_EXPLAIN}</span>
							</div>
						</div>
					<!-- ENDIF -->
					<div class="form-group">
						<label class="control-label col-md-4" for="cur_password">{L_CURRENT_PASSWORD}:</label>
						<div class="col-md-8">
							<input type="password" name="cur_password" id="cur_password" maxlength="255" value="{CUR_PASSWORD}" class="form-control" title="{L_CURRENT_PASSWORD}" />
							<span class="help-block"><!-- IF S_CHANGE_PASSWORD -->{L_CURRENT_CHANGE_PASSWORD_EXPLAIN}<!-- ELSE -->{L_CURRENT_PASSWORD_EXPLAIN}<!-- ENDIF --></span>
						</div>
					</div>
			</fieldset>
		</div>
		<div class="panel-footer">
			<fieldset class="submit-buttons">
				{S_HIDDEN_FIELDS}
				<input type="reset" value="{L_RESET}" name="reset" class="btn btn-danger" />
				<input type="submit" name="submit" value="{L_SUBMIT}" class="btn btn-success" />
				{S_FORM_TOKEN}
			</fieldset>
		</div>
	</div>
</form>

<!-- INCLUDE ucp_footer.html -->