<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{L_TITLE}</h3>
		</div>
		<div class="panel-body">
			<p>{L_FRIENDS_EXPLAIN}</p>
			<fieldset>
				<div class="form-horizontal">
					<!-- IF ERROR --><p class="alert alert-danger">{ERROR}</p><!-- ENDIF -->
					<div class="form-group">
						<label class="control-label col-md-4" <!-- IF S_USERNAME_OPTIONS -->for="usernames"<!-- ENDIF -->>{L_YOUR_FRIENDS}:</label>
						<div class="col-md-8">
							<!-- IF S_USERNAME_OPTIONS -->
								<select name="usernames[]" id="usernames" multiple="multiple" size="5">{S_USERNAME_OPTIONS}</select>
							<!-- ELSE -->
								<p class="form-control-static">{L_NO_FRIENDS}</p>
							<!-- ENDIF -->
							<span class="help-block">{L_YOUR_FRIENDS_EXPLAIN}</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-4" for="add">{L_ADD_FRIENDS}:</label>
						<div class="col-md-8">
							<textarea name="add" id="add" rows="3" cols="30" class="form-control">{USERNAMES}</textarea>
							<div class="spacer"></div>
							<a class="btn btn-default btn-sm btn-primary" href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a>
							<span class="help-block">{L_ADD_FRIENDS_EXPLAIN}</span>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="panel-footer">
			<fieldset class="submit-buttons">
				{S_HIDDEN_FIELDS}
				<input type="reset" value="{L_RESET}" name="reset" class="btn btn-danger" />
				<input type="submit" name="submit" value="{L_SUBMIT}" class="btn btn-success" />
				{S_FORM_TOKEN}
			</fieldset>
		</div>
	</div>
</form>

<!-- INCLUDE ucp_footer.html -->