<!-- INCLUDE overall_header.html -->

<!-- NOTE: remove the style="display: none" when you want to have the forum description on the topic body -->
<!-- IF FORUM_DESC --><div style="display: none !important;">{FORUM_DESC}<br /></div><!-- ENDIF -->

<!-- IF S_FORUM_RULES -->
	<div class="rules row">
		<div class="well">
			<!-- IF U_FORUM_RULES -->
				<a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
			<!-- ELSE -->
				<strong>{L_FORUM_RULES}</strong><br />
				{FORUM_RULES}
			<!-- ENDIF -->
		</div>
	</div>
<!-- ENDIF -->

<div class="row">
	<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
		<div class="col-md-3">
			<a class="btn <!-- IF S_IS_LOCKED -->btn-danger<!-- ELSE -->btn-primary<!-- ENDIF -->" href="{U_POST_REPLY_TOPIC}" title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF -->"><!-- IF S_IS_LOCKED --><i class="icon-lock icon-white"></i> {L_TOPIC_LOCKED_SHORT}<!-- ELSE --><i class="icon-comment icon-white"></i> {L_POST_REPLY}<!-- ENDIF --></a>
		</div>
	<!-- ENDIF -->
	
	<!-- IF PAGINATION or TOTAL_POSTS -->
		<div class="col-md-6 text-center">
			<div class="btn-group">
				<!-- IF U_VIEW_UNREAD_POST and not S_IS_BOT --><a href="{U_VIEW_UNREAD_POST}" class="btn btn-default btn-sm">{L_VIEW_UNREAD_POST}</a><!-- ENDIF --><span class="btn btn-default btn-sm" disabled="disabled">{TOTAL_POSTS}</span>
				<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}" class="btn btn-default btn-sm">{PAGE_NUMBER}</a> <span class="btn btn-default btn-sm" disabled="disabled">{PAGINATION}</span><!-- ELSE --> <span class="btn btn-default btn-sm" disabled="disabled">{PAGE_NUMBER}</span><!-- ENDIF --><!-- ENDIF -->
			</div>
		</div>
	<!-- ENDIF -->
	
	<!-- IF S_DISPLAY_SEARCHBOX -->
		<div class="col-md-3">
			<form method="get" id="topic-search" action="{S_SEARCHBOX_ACTION}" class="form-search pull-right" style="margin:0;">
				<div class="input-group">
					<input class="input-medium form-control"  type="text" name="keywords" id="search_keywords" size="20" value="{L_SEARCH_TOPIC}" onclick="if(this.value=='{LA_SEARCH_TOPIC}')this.value='';" onblur="if(this.value=='')this.value='{LA_SEARCH_TOPIC}';" />
					<span class="input-group-btn">
						{S_SEARCH_LOCAL_HIDDEN_FIELDS}
						<button type="submit" class="btn btn-default">{L_SEARCH}</button>
					</span>
				</div>
			</form>
		</div>
	<!-- ENDIF -->
</div>
<div class="clear"></div>

<!-- IF S_HAS_POLL -->
	<form method="post" action="{S_POLL_ACTION}">
	<div class="row panel">
		<div class="well">
		<div class="content">
			<h2>{POLL_QUESTION}</h2>
			<p class="author">{L_POLL_LENGTH}<!-- IF S_CAN_VOTE and L_POLL_LENGTH --><br /><!-- ENDIF --><!-- IF S_CAN_VOTE -->{L_MAX_VOTES}<!-- ENDIF --></p>
			<fieldset class="polls">
			<!-- BEGIN poll_option -->
				<dl class="<!-- IF poll_option.POLL_OPTION_VOTED -->voted<!-- ENDIF -->"<!-- IF poll_option.POLL_OPTION_VOTED --> title="{L_POLL_VOTED_OPTION}"<!-- ENDIF -->>
					<dt><!-- IF S_CAN_VOTE --><label for="vote_{poll_option.POLL_OPTION_ID}">{poll_option.POLL_OPTION_CAPTION}</label><!-- ELSE -->{poll_option.POLL_OPTION_CAPTION}<!-- ENDIF --></dt>
					<!-- IF S_CAN_VOTE --><dd style="width: auto;"><!-- IF S_IS_MULTI_CHOICE --><input type="checkbox" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> /><!-- ELSE --><input type="radio" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> /><!-- ENDIF --></dd><!-- ENDIF -->
					<!-- IF S_DISPLAY_RESULTS --><dd class="resultbar"><div class="<!-- IF poll_option.POLL_OPTION_PCT < 20 -->pollbar1<!-- ELSEIF poll_option.POLL_OPTION_PCT < 40 -->pollbar2<!-- ELSEIF poll_option.POLL_OPTION_PCT < 60 -->pollbar3<!-- ELSEIF poll_option.POLL_OPTION_PCT < 80 -->pollbar4<!-- ELSE -->pollbar5<!-- ENDIF -->" style="width:{poll_option.POLL_OPTION_PERCENT};">{poll_option.POLL_OPTION_RESULT}</div></dd>
					<dd><!-- IF poll_option.POLL_OPTION_RESULT == 0 -->{L_NO_VOTES}<!-- ELSE -->{poll_option.POLL_OPTION_PERCENT}<!-- ENDIF --></dd><!-- ENDIF -->
				</dl>
			<!-- END poll_option -->

			<!-- IF S_DISPLAY_RESULTS -->
				<dl>
					<dt>&nbsp;</dt>
					<dd class="resultbar">{L_TOTAL_VOTES} : {TOTAL_VOTES}</dd>
				</dl>
			<!-- ENDIF -->

			<!-- IF S_CAN_VOTE -->
				<dl style="border-top: none;">
					<dt>&nbsp;</dt>
					<dd class="resultbar"><input type="submit" name="update" value="{L_SUBMIT_VOTE}" class="button1" /></dd>
				</dl>
			<!-- ENDIF -->

			<!-- IF not S_DISPLAY_RESULTS -->
				<dl style="border-top: none;">
					<dt>&nbsp;</dt>
					<dd class="resultbar"><a href="{U_VIEW_RESULTS}">{L_VIEW_RESULTS}</a></dd>
				</dl>
			<!-- ENDIF -->
			</fieldset>
		</div>

		</div>
		{S_FORM_TOKEN}
		{S_HIDDEN_FIELDS}
	</div>


	</form>
	<hr />
<!-- ENDIF -->

<!-- BEGIN postrow -->
	<!-- IF postrow.S_FIRST_UNREAD --><a id="unread"></a><!-- ENDIF -->
	<div id="p{postrow.POST_ID}">
		<div class="panel panel-primary<!-- IF postrow.S_UNREAD_POST --> alert-info<!-- ENDIF --><!-- IF postrow.S_POST_REPORTED --> alert-danger<!-- ENDIF -->">
			<div class="panel-heading">
				<h3 class="panel-title<!-- IF postrow.S_FIRST_ROW --> first<!-- ENDIF -->"><!-- IF postrow.POST_ICON_IMG --><img src="{T_ICONS_PATH}{postrow.POST_ICON_IMG}" width="{postrow.POST_ICON_IMG_WIDTH}" height="{postrow.POST_ICON_IMG_HEIGHT}" alt="" /> <!-- ENDIF --><a href="#p{postrow.POST_ID}">{postrow.POST_SUBJECT}</a></h3>
			</div>
			<div class="panel-body">
				<div class="row">
				<!-- IF not postrow.S_IGNORE_POST -->
					<div class="col-md-3" style="border-right: 1px solid #eee;">
					<dl class="postprofil" id="profile{postrow.POST_ID}">
						<dt>
							<!-- IF not postrow.U_POST_AUTHOR --><strong>{postrow.POST_AUTHOR_FULL}</strong> <span class="label <!-- IF postrow.S_ONLINE and not postrow.S_IGNORE_POST --> label-success<!-- ELSE --> label-danger<!-- ENDIF -->"><!-- IF postrow.S_ONLINE and not postrow.S_IGNORE_POST --> online<!-- ELSE --> offline<!-- ENDIF --></span><!-- ELSE -->{postrow.POST_AUTHOR_FULL} <span class="label <!-- IF postrow.S_ONLINE and not postrow.S_IGNORE_POST --> label-success<!-- ELSE --> label-danger<!-- ENDIF -->"><!-- IF postrow.S_ONLINE and not postrow.S_IGNORE_POST --> online<!-- ELSE --> offline<!-- ENDIF --></span><!-- ENDIF -->
						</dt>
						<!-- IF postrow.RANK_TITLE or postrow.RANK_IMG --><dd>{postrow.RANK_TITLE}<!-- IF postrow.RANK_TITLE and postrow.RANK_IMG --><br /><!-- ENDIF -->{postrow.RANK_IMG}</dd><!-- ENDIF -->
						<dd>
							<!-- IF postrow.POSTER_AVATAR -->
								<!-- IF postrow.U_POST_AUTHOR --><a href="{postrow.U_POST_AUTHOR}">{postrow.POSTER_AVATAR}</a><!-- ELSE -->{postrow.POSTER_AVATAR}<!-- ENDIF --><br />
							<!-- ENDIF -->
						</dd>
						<!-- IF postrow.POSTER_POSTS != '' --><dd><strong>{L_POSTS}:</strong> {postrow.POSTER_POSTS}</dd><!-- ENDIF -->
						<!-- IF postrow.POSTER_JOINED --><dd><strong>{L_JOINED}:</strong> {postrow.POSTER_JOINED}</dd><!-- ENDIF -->
						<!-- IF postrow.POSTER_FROM --><dd><strong>{L_LOCATION}:</strong> {postrow.POSTER_FROM}</dd><!-- ENDIF -->
						<!-- IF postrow.S_PROFILE_FIELD1 -->
							<!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
							<dd><strong>{postrow.PROFILE_FIELD1_NAME}:</strong> {postrow.PROFILE_FIELD1_VALUE}</dd>
						<!-- ENDIF -->
						<!-- BEGIN custom_fields -->
							<dd><strong>{postrow.custom_fields.PROFILE_FIELD_NAME}:</strong> {postrow.custom_fields.PROFILE_FIELD_VALUE}</dd>
						<!-- END custom_fields -->
						
						<!-- IF not S_IS_BOT -->
							<!-- IF postrow.U_PM or postrow.U_EMAIL or postrow.U_WWW or postrow.U_MSN or postrow.U_ICQ or postrow.U_YIM or postrow.U_AIM or postrow.U_JABBER -->
								<dd>
									<ul class="profile-icons">
										<!-- IF postrow.U_PM --><li class="pm"><a class="btn btn-mini" href="{postrow.U_PM}" title="{L_PRIVATE_MESSAGE}"><i class="icon-comment"></i></a></li><!-- ENDIF -->
										<!-- IF postrow.U_EMAIL --><li class="email"><a class="btn btn-mini" href="{postrow.U_EMAIL}" title="{L_SEND_EMAIL_USER} {postrow.POST_AUTHOR}"><i class="icon-envelope"></i></a></li><!-- ENDIF -->
										<!-- IF postrow.U_WWW --><li class="web"><a class="btn btn-mini" href="{postrow.U_WWW}" title="{L_VISIT_WEBSITE}: {postrow.U_WWW}"><i class="icon-globe"></i></a></li><!-- ENDIF -->
									</ul>
									<!-- IF postrow.U_MSN or postrow.U_ICQ or postrow.U_AIM or postrow.U_JABBER -->
										<div class="btn-group pull-left">
											<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
												<i class="icon-plus-sign"></i>
												<span class="caret"></span>
											</a>
											<ul class="dropdown-menu">
												<!-- IF postrow.U_MSN --><li class="msnm"><a href="{postrow.U_MSN}" onclick="popup(this.href, 550, 320); return false;" title="{L_MSNM}"><i class="icon-comment"></i> MSN</a></li><!-- ENDIF -->
												<!-- IF postrow.U_ICQ --><li class="icq"><a href="{postrow.U_ICQ}" onclick="popup(this.href, 550, 320); return false;" title="{L_ICQ}"><i class="icon-comment"></i> ICQ</a></li><!-- ENDIF -->
												<!-- IF postrow.U_YIM --><li class="yahoo"><a href="{postrow.U_YIM}" onclick="popup(this.href, 780, 550); return false;" title="{L_YIM}"><i class="icon-comment"></i> YIM</a></li><!-- ENDIF -->
												<!-- IF postrow.U_AIM --><li class="aim"><a href="{postrow.U_AIM}" onclick="popup(this.href, 550, 320); return false;" title="{L_AIM}"><i class="icon-comment"></i> AIM</a></li><!-- ENDIF -->
												<!-- IF postrow.U_JABBER --><li class="jabber"><a href="{postrow.U_JABBER}" onclick="popup(this.href, 550, 320); return false;" title="{L_JABBER}"><i class="icon-comment"></i> Jabber</a></li><!-- ENDIF -->
											</ul>
										</div>
									<!-- ENDIF -->
								</dd>
							<!-- ENDIF -->
						<!-- ENDIF -->
					</dl>
					</div>
				<!-- ENDIF -->
				<div class="col-md-8">
					<!-- IF postrow.S_IGNORE_POST -->
						<div class="ignore">{postrow.L_IGNORE_POST}</div>
					<!-- ELSE -->
						<div class="row" style="border-bottom: 1px solid #eee">
							<div class="col-md-6">
								<!-- IF S_IS_BOT -->{postrow.MINI_POST_IMG}<!-- ELSE --><a href="{postrow.U_MINI_POST}">{postrow.MINI_POST_IMG}</a><!-- ENDIF -->{L_POST_BY_AUTHOR} <strong>{postrow.POST_AUTHOR_FULL}</strong> &raquo; {postrow.POST_DATE}
							</div>
							<div class="col-md-6">
							<!-- IF not S_IS_BOT -->
								<!-- IF postrow.U_EDIT or postrow.U_DELETE or postrow.U_REPORT or postrow.U_WARN or postrow.U_INFO or postrow.U_QUOTE -->
									<ul class="profile-icons">
										<!-- IF U_EMAIL_TOPIC --><li class="rightside"><a href="{U_EMAIL_TOPIC}" title="{L_EMAIL_TOPIC}" class="btn btn-default"><i class="fa fa-envelope"></i></a></li><!-- ENDIF -->
										<!-- IF U_EMAIL_PM --><li class="rightside"><a href="{U_EMAIL_PM}" title="{L_EMAIL_PM}" class="btn btn-default"><i class="fa fa-envelope"></i></a></li></a></li><!-- ENDIF -->
										<!-- IF U_PRINT_TOPIC --><li class="rightside"><a class="btn btn-default" href="{U_PRINT_TOPIC}" title="{L_PRINT_TOPIC}" accesskey="p" class="print"><i class="fa fa-print"></i></a></li></a></li><!-- ENDIF -->
										<!-- IF U_PRINT_PM --><li class="rightside"><a class="btn btn-default" href="{U_PRINT_PM}" title="{L_PRINT_PM}" accesskey="p" class="print"><i class="fa fa-print"></i></a></li></a></li><!-- ENDIF -->

										<!-- IF postrow.U_EDIT --><li class="edit"><a class="btn btn-default" href="{postrow.U_EDIT}" title="{L_EDIT_POST}"><i class="fa fa-pencil"></i></a></li><!-- ENDIF -->
										<!-- IF postrow.U_DELETE --><li class="delete"><a class="btn btn-default" href="{postrow.U_DELETE}" title="{L_DELETE_POST}"><i class="fa fa-trash-o"></i></a></li><!-- ENDIF -->
										<!-- IF postrow.U_REPORT --><li class="report"><a class="btn btn-default" href="{postrow.U_REPORT}" title="{L_REPORT_POST}"><i class="fa fa-exclamation"></i></a></li><!-- ENDIF -->
										<!-- IF postrow.U_WARN --><li class="warn"><a class="btn btn-default" href="{postrow.U_WARN}" title="{L_WARN_USER}"><i class="fa fa-minus"></i></a></li><!-- ENDIF -->
										<!-- IF postrow.U_INFO --><li class="info"><a class="btn btn-default" href="{postrow.U_INFO}" title="{L_INFORMATION}"><i class="fa fa-info"></i></a></li><!-- ENDIF -->
										<!-- IF postrow.U_QUOTE --><li><a class="btn btn-default" href="{postrow.U_QUOTE}" title="{L_REPLY_WITH_QUOTE}"><i class="fa fa-quote-left"></i></a></li><!-- ENDIF -->
									</ul>
								<!-- ENDIF -->
							<!-- ENDIF -->
							</div>
						</div>
						<!-- IF postrow.S_POST_UNAPPROVED or postrow.S_POST_REPORTED -->
							<p class="rules">
								<!-- IF postrow.S_POST_UNAPPROVED -->{UNAPPROVED_IMG} <a href="{postrow.U_MCP_APPROVE}"><strong>{L_POST_UNAPPROVED}</strong></a><br /><!-- ENDIF -->
								<!-- IF postrow.S_POST_REPORTED -->{REPORTED_IMG} <a href="{postrow.U_MCP_REPORT}"><strong>{L_POST_REPORTED}</strong></a><!-- ENDIF -->
							</p>
						<!-- ENDIF -->
						<div class="content">{postrow.MESSAGE}</div>
						<!-- IF postrow.S_HAS_ATTACHMENTS -->
							<dl class="attachbox">
								<dt>{L_ATTACHMENTS}</dt>
								<!-- BEGIN attachment -->
									<dd>{postrow.attachment.DISPLAY_ATTACHMENT}</dd>
								<!-- END attachment -->
							</dl>
						<!-- ENDIF -->
						<!-- IF postrow.S_DISPLAY_NOTICE --><div class="rules">{L_DOWNLOAD_NOTICE}</div><!-- ENDIF -->
						<!-- IF postrow.EDITED_MESSAGE or postrow.EDIT_REASON -->
							<div class="notice">{postrow.EDITED_MESSAGE}
								<!-- IF postrow.EDIT_REASON --><br /><strong>{L_REASON}:</strong> <em>{postrow.EDIT_REASON}</em><!-- ENDIF -->
							</div>
						<!-- ENDIF -->
						<!-- IF postrow.BUMPED_MESSAGE --><div class="notice"><br /><br />{postrow.BUMPED_MESSAGE}</div><!-- ENDIF -->
						<!-- IF postrow.SIGNATURE --><div id="sig{postrow.POST_ID}" class="signature">{postrow.SIGNATURE}</div><!-- ENDIF -->
					<!-- ENDIF -->
				</div>
				</div>
			</div>
			<div class="panel-footer">
				<div class="back2top"><a href="#wrap" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a></div>
			</div>
		</div>
	</div>
<!-- END postrow -->

<!-- IF S_QUICK_REPLY -->
	<!-- INCLUDE quickreply_editor.html -->
<!-- ENDIF -->

<div class="row">
	<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
		<div class="col-md-3">
			<a class="btn <!-- IF S_IS_LOCKED -->btn-danger<!-- ELSE -->btn-primary<!-- ENDIF -->" href="{U_POST_REPLY_TOPIC}" title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF -->"><!-- IF S_IS_LOCKED --><i class="icon-lock icon-white"></i> {L_TOPIC_LOCKED_SHORT}<!-- ELSE --><i class="icon-comment icon-white"></i> {L_POST_REPLY}<!-- ENDIF --></a>
		</div>
	<!-- ENDIF -->
		
	<!-- IF PAGINATION or TOTAL_POSTS -->
		<div class="col-md-6 text-center">
			<div class="btn-group">
				<!-- IF U_VIEW_UNREAD_POST and not S_IS_BOT --><a href="{U_VIEW_UNREAD_POST}" class="btn btn-default btn-sm">{L_VIEW_UNREAD_POST}</a><!-- ENDIF --><span class="btn btn-default btn-sm" disabled="disabled">{TOTAL_POSTS}</span>
				<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}" class="btn btn-default btn-sm">{PAGE_NUMBER}</a> <span class="btn btn-default btn-sm" disabled="disabled">{PAGINATION}</span><!-- ELSE --> <span class="btn btn-default btn-sm" disabled="disabled">{PAGE_NUMBER}</span><!-- ENDIF --><!-- ENDIF -->
			</div>
		</div>
	<!-- ENDIF -->
	
	<!-- IF S_DISPLAY_SEARCHBOX -->
		<div class="col-md-3">
			<form method="get" id="topic-search" action="{S_SEARCHBOX_ACTION}" class="form-search pull-right" style="margin:0;">
				<div class="input-group">
					<input class="input-medium form-control"  type="text" name="keywords" id="search_keywords" size="20" value="{L_SEARCH_TOPIC}" onclick="if(this.value=='{LA_SEARCH_TOPIC}')this.value='';" onblur="if(this.value=='')this.value='{LA_SEARCH_TOPIC}';" />
					<span class="input-group-btn">
						{S_SEARCH_LOCAL_HIDDEN_FIELDS}
						<button type="submit" class="btn btn-default">{L_SEARCH}</button>
					</span>
				</div>
			</form>
		</div>
	<!-- ENDIF -->
</div>

<!-- IF S_TOPIC_MOD -->
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">{L_QUICK_MOD}</h3>
		</div>
		<div class="panel-body">
			<form method="post" action="{S_MOD_ACTION}" class="form-inline alert-danger">
				<fieldset class="quickmod">
					{S_TOPIC_MOD} <input type="submit" value="{L_GO}" class="btn btn-default" />
					{S_FORM_TOKEN}
				</fieldset>
			</form>
		</div>
	</div>
<!-- ENDIF -->

<!-- IF S_NUM_POSTS > 1 or PREVIOUS_PAGE -->
	<div class="well well-sm">
		<form id="viewtopic" method="post" action="{S_TOPIC_ACTION}" class="form-inline">
			<fieldset class="display-options" style="margin-top: 0; ">
				<ul class="pager">
					<!-- IF PREVIOUS_PAGE --><li class="previous"><a href="{PREVIOUS_PAGE}"><i class="fa fa-chevron-left"></i> {L_PREVIOUS}</a></li><!-- ENDIF -->
					<!-- IF NEXT_PAGE --><li class="next"><a href="{NEXT_PAGE}">{L_NEXT} <i class="fa fa-chevron-right"></i></a></li><!-- ENDIF -->
				</ul>
				<!-- IF not S_IS_BOT -->
				<label>{L_DISPLAY_POSTS}: {S_SELECT_SORT_DAYS}</label>
				<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label> <label>{S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="btn btn-default" /></label>
				<!-- ENDIF -->
			</fieldset>
		</form>
	</div>
<!-- ENDIF -->

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">{L_LOGIN_LOGOUT}</h3>
	</div>	
	<div class="panel-body">
		<form method="post" action="{S_LOGIN_ACTION}" class="form-inline">
			<div class="input-group">
				<input type="text" placeholder="{L_USERNAME}" name="username" id="username" size="10" class="form-control" title="{L_USERNAME}" style="width: 117px;"/>	
				<input type="password" placeholder="{L_PASSWORD}" name="password" id="password" size="10" class="form-control" title="{L_PASSWORD}" style="width: 117px;"/>
				<span class="input-group-btn" style="width: 0px;">
					{S_LOGIN_REDIRECT}
					<input type="submit" name="login" value="{L_LOGIN}" class="btn btn-primary" />
				</span>	
			</div>
		</form>
	</div>
</div>
<!-- ENDIF -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title"><!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF --></h3>
		</div>
		<div class="panel-body">
			<p>{LOGGED_IN_USER_LIST}</p>
		</div>
	</div>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->