body {
	padding-top: 0px !important;
}

#logo-fix {
	margin-bottom: 20px; 
	margin-top: 20px;
}

.navbar-fix {
	z-index: 10000;
}

.post-icon {
	padding: 0px 10px 0px 0px;
}

.jumpbox {
  display: none;
}

#message-box #message {
	border-radius: 0px !important;
}

.btn-group:only-child {
	border-radius: 0px !important;
}

.navbar-nav.navbar-right:last-child {
	margin-right: 5px !important;
}

.reg-button {
	padding:0px;
	display:inline
}

.forum-selector {
	float:right;
}

#ucp-nav, #mcp-nav, .post-tabs {
	border-radius: 0px 0px 4px 4px !important;
	border-top: 0px !important;
}

.clearfix {
	clear:both;
}

.no-margin{
	margin: 0px !important;
}

.no-margin-left{
	margin-left: 0px !important;
}

.no-margin-bottom{
	margin-bottom: 0px !important;
}

.no-padding {
	padding: 0px !important;
}

.text-right{
	text-align: right;
}

.text-left {
	text-align: left;
}

.topic-buttons {
	float:right;
}

#loginpanel {
	margin-top:20px
}

#format-buttons .btn {
	margin-bottom: 0px !important;
}

.colorgraph {
	height: 5px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.post-info {
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.panel-foo {
	float:left;
}

.post-footer {
	min-height: 40px;
}

.2top {
	float: right;
}

.post-info .avatar img {
	border-radius: 50%;
	border:10px solid #eee;
	transition: all 0.2s ease-in-out;
}

.post-info .avatar img:hover{
	border:2px solid #eee; 
	/*-webkit-font-smoothing:antialiased;*/
}

.post-head {
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
}

.mcp-buttons {
	margin-bottom: 20px;
}

.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}

.btn-label {
	position: relative;
	left: -12px;
	display: inline-block;
	padding: 6px 12px;
	background: rgba(0,0,0,0.15);
	border-radius: 3px 0 0 3px;
}

#page-footer {
	padding-bottom: 60px;
}

.btn-labeled {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.nav-sidebar { 
    width: 100%;
    padding: 8px 0; 
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
	background: none;
	border: 0px;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px !important; 
    -moz-border-radius: 4px 0 0 4px !important; 
    border-radius: 4px 0 0 4px !important; 
}
.nav-sidebar .active a { 
    cursor: default;
    background-color: #428bca; 
    color: #fff; 
    text-shadow: 1px 1px 1px #666; 
}
.nav-sidebar .active a:hover {
    background-color: #428bca;   
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

/* Right-aligned sidebar */
.nav-sidebar.pull-right { 
    border-right: 0; 
    border-left: 1px solid #ddd; 
}
.nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0; 
    -moz-border-radius: 0 4px 4px 0; 
    border-radius: 0 4px 4px 0; 
}


/* User Profile
------------------------- */
.user-details {padding: 0;}
.user-details .user-image {position: relative;  z-index: 1; margin: auto; text-align: center; top: 45px; height: 90px; width: 90px}
.user-image img { clear: both; margin: auto; position: relative;border-radius: 50%;}

.user-details .user-info-block {width: 100%; background: rgb(255, 255, 255); z-index: 0; padding-top: 35px; }
.user-info-block .user-heading {width: 100%; text-align: center; margin: 10px 0 0;}
.user-info-block .navigation {height: 60px; width: 100%; margin: 0; padding: 0; list-style: none; border-bottom: 1px solid #428BCA; border-top: 1px solid #428BCA; text-align: center}
.navigation li {display: inline-block; margin: 0; padding: 0;}
.navigation li a {padding: 20px 30px; float: left;}
.navigation li.active a {background: #428BCA; color: #fff;}
.user-info-block .user-body {padding: 5%;}
.user-body .tab-content > div {float: left; width: 100%;}
.user-body .tab-content h4 {width: 100%; margin: 10px 0; color: #333;}

/* Badger
------------------------- */

[class*="badger"] {
    position: relative;
    background: #fff;
}

[class*="badger"]:after {
    content: attr(data-badger);
    position: absolute;
    top: 0;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background: #999;
    color: #fff;
}

.badger-left:after {
    left: 0;
	border-radius: 0px 0 6px 0;
}

.badger-left-radius:after {
	border-radius: 6px 0 6px 0;
	left: 0;
}

.badger-right:after {
    right: 0;
    border-radius: 0 6px 0 6px;
}

.badger-danger:after {
    background: #d9534f;
}

.badger-warning:after {
    background: #f0ad4e;
}

.badger-success:after {
    background: #5cb85c;
}

.badger-info:after {
    background: #5bc0de;
}

.badger-inverse:after {
    background: #222;
}

/* Breadcrumb
------------------------- */

.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}
.btn-breadcrumb .btn:only-child {
	padding: 6px 10px !important;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
  border-left: 10px solid #428bca;
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
  border-left: 10px solid #357ebd;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
  border-left: 10px solid #3276b1;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
  border-left: 10px solid #285e8e;
}

/** Success button **/
.btn-breadcrumb .btn.btn-success:not(:last-child):after {
  border-left: 10px solid #5cb85c;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):before {
  border-left: 10px solid #4cae4c;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
  border-left: 10px solid #47a447;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
  border-left: 10px solid #398439;
}

/** Danger button **/
.btn-breadcrumb .btn.btn-danger:not(:last-child):after {
  border-left: 10px solid #d9534f;
}
.btn-breadcrumb .btn.btn-danger:not(:last-child):before {
  border-left: 10px solid #d43f3a;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):after {
  border-left: 10px solid #d2322d;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):before {
  border-left: 10px solid #ac2925;
}

/** Warning button **/
.btn-breadcrumb .btn.btn-warning:not(:last-child):after {
  border-left: 10px solid #f0ad4e;
}
.btn-breadcrumb .btn.btn-warning:not(:last-child):before {
  border-left: 10px solid #eea236;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):after {
  border-left: 10px solid #ed9c28;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):before {
  border-left: 10px solid #d58512;
}

/** Info button **/
.btn-breadcrumb .btn.btn-info:not(:last-child):after {
  border-left: 10px solid #5bc0de;
}
.btn-breadcrumb .btn.btn-info:not(:last-child):before {
  border-left: 10px solid #46b8da;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
  border-left: 10px solid #39b3d7;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
  border-left: 10px solid #269abc;
}


/* Alert Messages
------------------------- */

.alert-message {
	margin:20px 0;
	padding:20px;
	border-left:3px solid #eee;
}
.alert-message h4 {
	margin-top:0;
	margin-bottom:5px;
}
.alert-message p:last-child {
	margin-bottom:0;
}
.alert-message code {
	background-color:#fff;
	border-radius:3px;
}
.alert-message-success {
	background-color:#F4FDF0;
	border-color:#3C763D;
}
.alert-message-success h4 {
	color:#3C763D;
}
.alert-message-danger {
	background-color:#fdf7f7;
	border-color:#d9534f;
}
.alert-message-danger h4 {
	color:#d9534f;
}
.alert-message-warning {
	background-color:#fcf8f2;
	border-color:#f0ad4e;
}
.alert-message-warning h4 {
	color:#f0ad4e;
}
.alert-message-info {
	background-color:#f4f8fa;
	border-color:#5bc0de;
}
.alert-message-info h4 {
	color:#5bc0de;
}
.alert-message-default {
	background-color:#EEE;
	border-color:#B4B4B4;
}
.alert-message-default h4 {
	color:#000;
}
.alert-message-notice {
	background-color:#FCFCDD;
	border-color:#BDBD89;
}
.alert-message-notice h4 {
	color: #444;
}