#logo-fix {
	margin-bottom: 20px; 
	margin-top: 20px;
}

.navbar-nav.navbar-right:last-child {
	margin-right: 5px !important;
}

.reg-button {
	padding:0px;
	display:inline
}

.forum-selector {
	float:right;
}

#ucp-nav, #mcp-nav {
	border-radius: 0px 0px 4px 4px !important;
}